<!-- Password Reset Done Page -->
{% extends 'base.html' %}

{% block title %}InnerCircle | Password Reset Email Sent{% endblock %}

{% block auth_content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;" >
    <div class="card" style="width: 20rem;">
        <div class="card-header text-center bg-dark text-white">Email Sent</div>
        <div class="card-body">
            <h4>Please check your inbox.</h4>
            <p>We've emailed you instructions for resetting your password. You should receive the email shortly.</p>
        </div>
    </div>
</div>
{% endblock %}