{% extends 'base.html' %}

{% block title %}InnerCircle | Password Change{% endblock %}

{% block auth_content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;" >
    <div class="card" style="width: 20rem;">
        <div class="card-header text-center bg-dark text-white">Password Change</div>
        <div class="card-body">
            {% if form.errors %}
            <div class="mb-3 mt-3">
                <code><i class="bi bi-exclamation-circle-fill"></i>&nbsp;There was an error. Please correct the form and try again.</code>
            </div>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-dark" type="submit">Change Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}