<!-- Password Reset Complete Page -->
{% extends 'base.html' %}

{% block title %}InnerCircle | Password Reset Complete {% endblock %}

{% block auth_content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;" >
    <div class="card" style="width: 20rem;">
        <div class="card-header text-center bg-dark text-white">Reset Password</div>
        <div class="card-body">
            <h4>Password reset complete</h4>
            <p>Your new password has been set. You can log in now on the <a href=" {% url 'signIn' %}">log in page</a>.</p>
        </div>
    </div>
</div>
{% endblock %}