{% extends 'base.html' %}

{% block title %}InnerCircle | Password Change Done{% endblock %}

{% block auth_content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;" >
    <div class="card">
        <div class="card-header text-center bg-dark text-white">Password Change Done</div>
        <div class="card-body">
            <h4>Password Change Successful.</h4>
            <p>Your password has been changed successfully.</p>
            <a class="btn btn-dark" href="{% url 'dasboard' %}">Dashboard</a>
        </div>
    </div>
</div>
{% endblock %}