{% extends 'base.html' %}
{% load static %}
{% load cache_bust %}

{% block title %}InnerCircle | Check Items{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'scss/circle.scss' %}?{% cache_bust %}">{% endblock %}

{% block member_content %}
<div>
    <p class="text-secondary"><i class="bi bi-person-fill"></i> {{ recipient.name }}</p>
    <h2 class="text-white text-center bg-dark mb-5 p-3"> {{ list_obj.list_name }}</h2>
    <div class="d-flex justify-content-between">
        <p style="width: 40%"><strong>List By</strong><br>{{ list_obj.user.first_name }} {{ list_obj.user.last_name }}</p>
        <p style="width: 40%"><strong>Created</strong><br>{{ list_obj.created|date:"d F Y" }}</p>
    </div>
    <p>{{ list.description }}</p>  

    {% if messages %}
    <div>
        {% for message in messages %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <form action="{% url 'check_list' list_id=list_obj.id recipient_id=recipient.id %}" method="POST">
        {% csrf_token %}
        <h5>Check item(s) for {{list_obj.list_name}}</h5>
        <ul class="list-group list-group-flush">
            {% for item, form in items_and_forms %}
            <li class="list-group-item list-group-item-danger d-flex align-items-center justify-content-around">
                    <input type="checkbox" name="checked" {% if item.checked %}checked{% endif %}>
                    <input type="hidden" name="item_id" value="{{ item.id }}">
                    <img class="object-fit-cover border rounded" src="{{ item.item_image.url }}" alt="{{ item.item_name }}" style="width: 30px; height: 30px">
                    <strong>{{ item.item_name }}</strong>
                    <a href="{{ item.item_url }}" target="_blank" class="badge bg-dark rounded-pill" style="text-decoration: none;">view item</a> 
            </li>
            {% endfor %}
        </ul>

        <div class="mt-5 d-flex justify-content-center">
            <button class="btn btn-dark" type="submit">Update List</button>
        </div>
    </form>

</div>
{% endblock %}