{% extends 'base.html' %}
{% load cache_bust %}
{% load static %}

{% block title %}InnerCircle | Edit {{ instance.list_name }}{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'scss/circle.scss' %}?{% cache_bust %}">{% endblock %}

{% block content %}
<section lass="d-flex flex-column justify-content-between" style="gap: 50px">
    <div class="d-flex justify-content-between align-items-center" >
        <a href="{% url 'list_detail' instance.id %}" class="text-dark"><i class="bi bi-arrow-left-circle-fill" style="font-size: 1.8rem;"></i></a>
        <h4 class="text-secondary text-end"> Edit {{ instance.list_name }}</h4>
    </div>

    {% if messages %}
    <div>
        {% for message in messages %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <form action="{% url 'edit_list' list_id=instance.id %}" class="form-floating" method="POST">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <!-- <input type="text" class="form-control" name="{{form.event_name.name}}" value="{{instance.event_name}}"> -->
            {{ form.list_name }}
            <label for="name">List Name</label>
        </div>
        <div class="mb-3">
            <label for="description">Description</label>
            {{ form.description }}
            <!-- <textarea class="form-control" name="{{form.description.name}}" id="" cols="30" rows="10" value="">{{instance.description}}</textarea> -->
        </div>
        <div class="mb-3">
            <label for="{{ form.receivers.id_for_label }}">Recipients</label>
            {{ form.receivers }}
        </div>
        <button class="btn btn-dark" type="submit">Edit List</button>
    </form>

</section>
{% endblock %}