<!-- Edit List Object Page serving edit_list view. -->
{% extends 'base.html' %}
{% load cache_bust %}
{% load static %}

{% block title %}InnerCircle | Edit {{ instance.list_name }}{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'scss/circle.scss' %}?{% cache_bust %}">{% endblock %}

{% block content %}
<section class="d-flex flex-column justify-content-between m-md-5 p-md-5" style="gap: 50px">
    <div class="d-flex justify-content-between align-items-center mb-5">
        <a href="{% url 'list_detail' instance.id %}" class="text-dark"><i class="bi bi-arrow-left-circle-fill" style="font-size: 1.8rem;"></i></a>
        <h4 class="text-secondary text-end">Edit List</h4>
    </div>

    <form action="{% url 'edit_list' list_id=instance.id %}" class="form-floating" method="POST">
        {% csrf_token %}
        <div class="form-floating mb-5">
            {{ form.list_name }}
            <label for="name">List Name</label>

            {% if form.list_name.errors %}
                {% for error in form.list_name.errors %}
                <code><i class="bi bi-exclamation-circle-fill me-2"></i>{{error}}</code>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-floating mb-5">
            {{ form.description }}
            <label for="description">Description</label>

            {% if form.description.errors %}
                {% for error in form.description.errors %}
                <code><i class="bi bi-exclamation-circle-fill me-2"></i>{{error}}</code>
                {% endfor %}
            {% endif %}
        </div>
        <div class="mb-5">
            {{ form.receivers }}

            {% if form.receivers.errors %}
                {% for error in form.receivers.errors %}
                <code><i class="bi bi-exclamation-circle-fill me-2"></i>{{error}}</code>
                {% endfor %}
            {% endif %}
        </div>

        {% if form.not_field_errors %}
            {% for error in form.not_field_errors %}
                <code><i class="bi bi-exclamation-circle-fill me-2"></i>{{error}}</code>
            {% endfor %}
        {% endif %}
        
        <button class="btn btn-dark" type="submit">Save Changes</button>
    </form>

</section>
{% endblock %}