<!-- Create Member Page serving create_member view. -->
{% extends 'base.html' %}
{% load static %}
{% load cache_bust %}


{% block title %}InnerCircle | New Member{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'scss/circle.scss' %}?{% cache_bust %}">{% endblock %}

{% block content %}
<section class="d-flex flex-column justify-content-between" style="gap: 50px">
    <div class="d-flex justify-content-between align-items-center" >
        <a href="{% url 'member_list' %}" class="text-dark"><i class="bi bi-arrow-left-circle-fill" style="font-size: 1.8rem;"></i></a>
        <h4 class="text-secondary text-end"> New Circle Member</h4>
    </div>

    <form action="{% url 'create_member' %}" class="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-floating mb-3">
            {{ form.name }}
            <label for="name">Name</label>

            {% if form.name.errors %}
                {% for error in form.name.errors %}
                <code><i class="bi bi-exclamation-circle-fill"></i>&nbsp;{{error}}</code>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-floating mb-3">
            {{ form.email }}
            <label for="email">Email</label>

            {% if form.email.errors %}
                {% for error in form.email.errors %}
                <code><i class="bi bi-exclamation-circle-fill"></i>&nbsp;{{error}}</code>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-floating mb-3">
            {{ form.date_of_birth }}
            <label for="date_of_birth">Date of Birth</label>

            {% if form.date_of_birth.errors %}
                {% for error in form.date_of_birth.errors %}
                <code><i class="bi bi-exclamation-circle-fill"></i>&nbsp;{{error}}</code>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-floating mb-3">
            {{ form.relationship }}
            <label for="relationship">Relationship</label>

            {% if form.relationship.errors %}
                {% for error in form.relationship.errors %}
                <code><i class="bi bi-exclamation-circle-fill"></i>&nbsp;{{error}}</code>
                {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="image">Image</label>
            {{ form.image }}    

            {% if form.image.errors %}
                {% for error in form.image.errors %}
                <code><i class="bi bi-exclamation-circle-fill"></i>&nbsp;{{error}}</code>
                {% endfor %}
            {% endif %}
        </div>

        {% if form.not_field_errors %}
            {% for error in form.not_field_errors %}
                <code><i class="bi bi-exclamation-circle-fill"></i>&nbsp;{{error}}</code>
            {% endfor %}
        {% endif %}
    
        <button class="btn btn-dark" type="submit">Add to Circle</button>
    </form>

</section>

{% endblock %}