<!-- Delete Group page serving delete_group page -->
{% extends 'base.html' %}
{% load static %}
{% load cache_bust %}

{% block title %}InnerCircle | Delete Group{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'scss/circle.scss' %}?{% cache_bust %}">{% endblock %}


{% block content %}
<section class="d-flex flex-column justify-content-between m-md-5 p-md-5" style="gap: 50px">
    <div class="d-flex justify-content-between align-items-center mb-5" >
        <a href="{% url 'group_detail' group.id %}" class="text-dark"><i class="bi bi-arrow-left-circle-fill" style="font-size: 1.8rem;"></i></a>
        <h4 class="text-secondary text-end"> Delete Group</h4>
    </div>

    <form class="form d-flex flex-column" style="gap: 50px;" action="{% url 'delete_group' pk=group.pk %}" method="POST">
        {% csrf_token %}
        <div>
            <div class="bg-light p-md-5 shadow group-info">
                <h4>{{ group.group_name }}</h4>
                <p>{{ group.description }}</p>
                <span class="badge bg-info rounded-pill"><i class="bi bi-person-fill me-2"></i>{{ group.members.count }}</span>
            </div>
        
            {% if group.members %}
            <div class="list-group list-group-flush mt-5">
                <p class="p-3 mb-1 border-pill bg-info text-white rounded-1">Group Members {{ users_groups.count }}</p>
               
                {% for member in group.members.all %}
                <a  href="{% url 'member_detail' member.id %}" class="list-group-item list-group-action d-flex justify-content-between align-items-center list-group-item-info text-dark">
                    <div class="d-flex align-items-center" style="gap: 20px">
                        <i class="bi bi-person-fill me-2"></i>
                        <img class="member-img-sm" src="{{ member.image.url }}" alt="Member Image">
                        <span>{{ member.name }}</span>
                    </div>
                </a>
                {% endfor %}
            </div>
            {% else %}
                <p class="text-secodary text-center">You have no circle members. <a href="{% url 'create_member' %}">Add people to your circle</a></p>
            {% endif %}
        </div>
        
        <div>
            <p>Are you sure sure you would like to delete this group? Once you delete it, it can not be undone.</p>
            <button class="btn btn-dark" type="submit"><i class="bi bi-trash3-fill"></i> Delete Group</button>
        </div>
        
    </form>
</section>
{% endblock %}