<!-- Delete Member Page serving delete_member view. -->
{% extends 'base.html' %}
{% load static %}
{% load cache_bust %}

{% block title %}InnerCircle | Delete Member{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'scss/circle.scss' %}?{% cache_bust %}">{% endblock %}


{% block content %}
<section class="d-flex flex-column justify-content-between m-md-5 p-md-5" style="gap: 50px">
    <div class="d-flex justify-content-between align-items-center mb-5" >
        <a href="{% url 'member_detail' member.id %}" class="text-dark"><i class="bi bi-arrow-left-circle-fill" style="font-size: 1.8rem;"></i></a>
        <h4 class="text-dark text-end"> Delete Member</h4>
    </div>
    <form class="form d-flex flex-column " style="gap: 50px;" action="{% url 'delete_member' pk=member.pk %}" method="POST">
      {% csrf_token %}
        <div class="bg-light p-md-5 shadow member-content">
          <div class="d-flex align-items-center" style="gap: 10px">
            <img src="{{ member.image.url }}" alt="Member Image" style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%;">
            <div>
                <span style="font-size:1.5em;">{{ member.name }}</span><br>
                <span><small>{{ member.relationship }}</small></span>
            </div>
        </div>
        
        <div>
            <p><i class="bi bi-balloon-fill text-secondary"></i> {{ member.date_of_birth|date:"d F Y" }}</p>
            <p><i class="bi bi-envelope-at-fill text-secondary"></i> {{ member.email }}</p>
        </div>
        

        <span class="badge bg-info rounded-pill">{{ member.member_notes.count }} notes</span>

        </div>
        
        <div>
          <p>Are you sure sure you would like to remove this person from your inner circle? Once you delete them, it can not be undone.</p>

          <button class="btn btn-dark" type="submit"><i class="bi bi-trash3-fill"></i> Delete Member</button>
        </div>
    </form>
</section>

{% endblock %}