{% extends 'base.html' %}
{% load cache_bust %}
{% load static %}

{% block title %}InnerCircle | Groups{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'scss/circle.scss' %}?{% cache_bust %}">{% endblock %}

{% block content %}
<section class="d-flex flex-column justify-content-between" style="gap: 50px">
    <h4 class="text-end text-secondary">Groups</h4>

    <div class="d-flex justify-content-end">
        <a href="{% url 'create_group' %}" class="btn btn-dark text-end"><i class="bi bi-person-gear"></i> Add New Group</a>
    </div>

    <div>

        <h6 class="text-secondary"><i class="bi bi-person-gear"></i> {{ users_groups.count }}</h6>

        {% if users_groups %}
        <div class="list-group list-group-flush">
            {% for group in users_groups %}
            <a  href="{% url 'group_detail' group.id %}" class="list-group-item list-group-action d-flex justify-content-between align-items-center list-group-item-info">
                <div class="d-flex" style="gap: 20px">
                    <span>{{ group.group_name }}</span>
                </div>
                <span class="badge bg-info rounded-pill"><i class="bi bi-people-fill"></i> {{group.members.count}}</span>
            </a>
            {% endfor %}
        </div>

        {% else %}
        <p class="text-secodary text-center">You currently have no groups. <a href="{% url 'create_group' %}">Add a new group</a>.</p>
        {% endif %}
    </div>
</section>
{% endblock %}