<!-- Group Object List Page serving group_list view. -->
{% extends 'base.html' %}
{% load cache_bust %}
{% load static %}

{% block title %}InnerCircle | Groups{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'scss/circle.scss' %}?{% cache_bust %}">{% endblock %}

{% block content %}
<section class="d-flex flex-column justify-content-between m-md-5 p-md-5" style="gap: 50px">
    <h4 class="text-end text-secondary">Groups</h4>

    <div>

        <p class="p-3 mb-1 border-pill bg-info text-white rounded-1">Groups {{ users_groups.count }}</p>

        {% if users_groups %}
        <div class="list-group list-group-flush">
            {% for group in users_groups %}
            <a  href="{% url 'group_detail' group.id %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-info text-dark">
                <div class="d-flex align-items-center" style="gap: 20px">
                    <i class="bi bi-people-fill"></i>
                    <span>{{ group.group_name }}</span>
                </div>
                <span class="badge bg-info rounded-pill group-extra-info"><i class="bi bi-person-fill me-2"></i>{{group.members.count}}</span>
            </a>
            {% endfor %}
        </div>

        {% else %}
        <p class="text-dark text-center m-5">You currently have no groups.<br><a class="text-dark" href="{% url 'create_group' %}"><strong>Add a group</strong></a></p>
        {% endif %}
    </div>
</section>
{% endblock %}