{% extends 'base.html' %}
{% load cache_bust %}
{% load static %}
{% load bootstrap_icons %}

{% block title %}InnerCircle | {{group.group_name}}{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'scss/circle.scss' %}?{% cache_bust %}">{% endblock %}

{% block content %}
<section class="d-flex flex-column justify-content-between" style="gap: 50px">
    <div class="d-flex justify-content-between align-items-center" >
        <a href="{% url 'group_list' %}" class="text-dark">{% bs_icon 'arrow-left-circle-fill' size='1.5em' %}</a>
        <h4 class="text-secondary text-end">Group Info</h4>
    </div>

    <div class="d-flex justify-content-end" style="gap: 20px;">
        <a class="btn btn-dark" href="{% url 'edit_group' group.id %}">{% bs_icon 'pen-fill' %} Edit</a>
        <a class="btn btn-dark" href="{% url 'delete_group' group.id %}">{% bs_icon 'trash3-fill' %} Delete</a>
    </div>

    <div>
        <h4>{{ group.group_name }}</h4>
        <p>{{ group.description }}</p>
    </div>

    {% if group.members %}
    <div class="list-group list-group-flush">
        <div class="d-flex align-items-center" style="gap:20px">
            <h5 class="text-secondary">Group Members</h5>
            <span class="badge bg-secondary rounded-pill">{% bs_icon 'person' %}{{ group.members.count }}</span>
        </div>
       
            {% for member in group.members.all %}
            <a  href="{% url 'member_detail' member.id %}" class="list-group-item list-group-action d-flex justify-content-between align-items-center list-group-item-primary">
                <div class="d-flex" style="gap: 20px">
                    <img class="member-img-sm" src="{{ member.image.url }}" alt="Member Image">
                    <span>{{ member.name }}</span>
                </div>
            </a>
            {% endfor %}
       
    </div>
    {% else %}
        <p class="text-secodary text-center">You have no circle members. <a href="{% url 'create_member' %}">Add people to your circle</a></p>
    {% endif %}

</section>
{% endblock %}