{% extends 'base.html' %}
{% load static %}
{% load cache_bust %}
{% load custom_filters %}
{% load bootstrap_icons %}

{% block title %}InnerCircle | Circle{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'scss/circle.scss' %}?{% cache_bust %}">{% endblock %}

{% block content %}
<section class="d-flex flex-column justify-content-between" style="gap: 50px">
<h4 class="text-end text-secondary">Circle Members</h4>

<div class="d-flex justify-content-end">
    <a href="{% url 'create_member' %}" class="btn btn-dark text-end">{% bs_icon 'person-add' %}Add New Member</a>
</div>

{% if messages %}
<div>
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

<div>
    <h6 class="text-secondary">{% bs_icon 'people' %} {{ members.count }}</h6>

    {% if members %}
    <div class="list-group list-group-flush">
        {% for member in members %}
        <a  href="{% url 'member_detail' member.id %}" class="list-group-item list-group-action d-flex justify-content-between align-items-center list-group-item-info">
            <div class="d-flex" style="gap: 20px">
                <img class="member-img-sm" src="{{ member.image.url }}" alt="Member Image">
                <span>{{ member.name }}</span>
            </div>

            <div>
                {% for group in member|get_member_groups:member_groups %}
                <span class="badge bg-info rounded-pill">{{ group.group_name }}</span>
                {% endfor %}
            </div>
        </a>
        {% endfor %}
    </div>
    {% else %}
        <p class="text-secodary text-center">You have no circle members. <a href="{% url 'create_member' %}">Add people to your circle</a></p>
    {% endif %}
</div>
</section>
{% endblock %}