<!-- Member Objects List Page serving member_lits view -->
{% extends 'base.html' %}
{% load static %}
{% load cache_bust %}
{% load custom_filters %}

{% block title %}InnerCircle | Circle{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'scss/circle.scss' %}?{% cache_bust %}">{% endblock %}

{% block content %}
<section class="d-flex flex-column justify-content-between m-md-5 p-md-5" style="gap: 50px">
<h4 class="text-end text-secondary">Circle Members</h4>

<div>
    <p class="p-3 mb-1 border-pill bg-info text-white rounded-1">Circle Members&nbsp;&nbsp;{{ members.count }}</p>
    {% if members %}
    
    <div class="list-group list-group-flush">
        {% for member in members %}
        <a  href="{% url 'member_detail' member.id %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-info text-dark">
            <div class="d-flex align-items-center" style="gap: 20px">
                <i class="bi bi-person-fill"></i>
                <img class="member-img-sm" src="{{ member.image.url }}" alt="Member Image">
                <span>{{ member.name }}</span>
            </div>

            <div class="member-extra-info">
                {% for group in member|get_member_groups:member_groups %}
                <span class="badge bg-info rounded-pill">{{ group.group_name }}</span>
                {% endfor %}
            </div>
        </a>
        {% endfor %}
    </div>
    {% else %}
        <p class="text-dark text-center m-5">You have no circle members.<br><a class="text-dark" href="{% url 'create_member' %}"><strong>Add people to your circle</strong></a></p>
    {% endif %}
</div>
</section>
{% endblock %}