<!-- Custom 400 Bad Request Page serving custom_400 view -->
{% extends 'error-base.html' %}

{% block title %}400 Bad Request{% endblock %}

{% block error_content %}
<h1><strong>400 Bad Requests</strong></h1>
<p>Sorry, your request is invalid or malformed.</p>
<div class="d-flex justify-content-center mt-5">
    {% if user.is_authenticated %}
    <a href="{% url 'dashboard' %}" class="btn btn-dark">Back to Safety</a>
    {% else %}
    <a href="{% url 'home' %}" class="btn btn-dark">Back to Safety</a>
    {% endif %}
</div>
{% endblock %}