<!-- Custom 500 Internal Server Error Page serving custom_500 view. -->
{% extends 'error-base.html' %}

{% block title %}500 Internal Server Error{% endblock %}

{% block error_content %}
<h1><strong>500 Internal Server Error</strong></h1>
<p>Sorry, something went wrong on our end. We're working to fix it.</p>
<div class="d-flex justify-content-center mt-5">
    {% if user.is_authenticated %}
    <a href="{% url 'dashboard' %}" class="btn btn-dark">Back to Safety</a>
    {% else %}
    <a href="{% url 'home' %}" class="btn btn-dark">Back to Safety</a>
    {% endif %}
</div>
{% endblock %}