{% extends 'base.html' %}
{% load static %}
{% load cache_bust %}
{% load bootstrap_icons %}

{% block title %}
{% with request.resolver_match.url_name as url_name %}
    {% if url_name == 'broadcast_list' %}
    InnerCircle | Broadcasts
    {% elif url_name == 'sent_broadcast_list' %}
    InnerCircle | Sent Broadcasts
    {% elif url_name == 'draft_broadcast_list' %}
    InnerCircle | Draft Broadcasts
    {% endif %}
{% endwith %}
{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'scss/circle.scss' %}?{% cache_bust %}">{% endblock %}

{% block content %}
<section class="d-flex flex-column justify-content-between" style="gap: 50px">
    <h4 class="text-end text-secondary">
        Your Broadcasts
    </h4>

    
    {% if messages %}
    <div>
        {% for message in messages %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% with request.resolver_match.url_name as url_name %}
        {% if url_name == 'broadcast_list' %}
        <div>
            <h6 class="text-dark"><strong>Broadcasts</strong> &nbsp;&nbsp;{{ broadcasts.count }}</h6>

            {% if broadcasts %}
            <div class="list-group list-group-flush">
                {% for broadcast in broadcasts %}
                <a  href="{% url 'broadcast_detail' broadcast.id %}" 
                class="list-group-item list-group-action d-flex justify-content-between align-items-center {% if broadcast.is_draft == True %}list-group-item-light{% else %}list-group-item-warning{% endif %}">
                    <span class="d-block"><strong>{{ broadcast.title }}</strong></span>
                    <span class="d-block"><small>{{ broadcast.created|date:"d F Y" }} {{ broadcast.created|time:"h:i A" }}</small></span>
                </a>
                {% endfor %}
            </div>
            {% else %}
            <p class="text-secondary text-center">You currently have no sent broadcasts.</p>
            {% endif %}
        </div>
        {% elif url_name == 'sent_broadcast_list' %}
        <div>
            <h6 class="text-dark"><strong>Sent Broadcasts</strong> &nbsp;&nbsp;{{ sent_broadcasts.count }}</h6>

            {% if sent_broadcasts %}
            <div class="list-group list-group-flush">
                {% for sent_broadcast in sent_broadcasts %}
                <a  href="{% url 'broadcast_detail' sent_broadcast.id %}" class="list-group-item list-group-action d-flex justify-content-between align-items-center list-group-item-warning">
                    <span class="d-block"><strong>{{ sent_broadcast.title }}</strong></span>
                    <span class="d-block"><small>{{ sent_broadcast.created|date:"d F Y" }} {{ sent_broadcast.created|time:"h:i A" }}</small></span>
                </a>
                {% endfor %}
            </div>
            {% else %}
            <p class="text-secondary text-center">You currently have no sent broadcasts.</p>
            {% endif %}
        </div>
        {% elif url_name == 'draft_broadcast_list' %}
        <div class="mt-5">
            <h6 class="text-dark"><strong>Drafts</strong> &nbsp;&nbsp;{{ draft_broadcasts.count }}</h6>
    
            {% if draft_broadcasts %}
            <div class="list-group list-group-flush">
                {% for draft_broadcast in draft_broadcasts %}
                <a  href="{% url 'broadcast_detail' draft_broadcast.id %}" class="list-group-item list-group-action d-flex justify-content-between align-items-center list-group-item-light">
                        <span class="d-block"><strong>{{ draft_broadcast.title }}</strong></span>
                        <span class="d-block"><small>{{ draft_broadcast.created|date:"d F Y" }} {{ draft_broadcast.created|time:"h:i A" }}</small></span>
                </a>
                {% endfor %}
            </div>
            {% else %}
            <p class="text-secondary text-center">You currently have no draft broadcasts.</p>
            {% endif %}
        </div>
        {% endif %}
    {% endwith %}

    
</section>
{% endblock %}