<!-- Broadcast Detail Page serving broadcast_detail view -->
{% extends 'base.html' %}
{% load static %}
{% load cache_bust %}

{% block title %}InnerCircle | {{ broadcast.title }}{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'scss/circle.scss' %}?{% cache_bust %}">{% endblock %}

{% block content %}
<section class="d-flex flex-column justify-content-between m-5 p-5" style="gap: 50px">
    <div class="d-flex justify-content-between align-items-center" >
        <a href="{% url 'broadcast_list' %}" class="text-dark"><i class="bi bi-arrow-left-circle-fill" style="font-size: 1.8rem;"></i></a>
        <h4 class="text-secondary text-end"> {{broadcast.title}}</h4>
    </div>

    <div class="d-flex justify-content-between align-items-center">
        {% if broadcast.is_draft %}
        <form method="POST" action="{% url 'send_broadcast_draft' draft_id=broadcast.id %}" style="padding:0;">
            {% csrf_token %}
            <button class="btn btn-dark" type="submit"><i class="bi bi-envelope-arrow-up-fill"></i> Send Broadcast</button>
        </form>
        <div class="d-flex" style="gap: 20px;">
            <a class="btn btn-dark" href="{% url 'edit_broadcast' broadcast.id %}"><i class="bi bi-pen-fill"></i> Edit</a>
            <a class="btn btn-dark" href="{% url 'delete_broadcast' broadcast.id %}"><i class="bi bi-trash3-fill"></i> Delete</a>
        </div>
        {% else %}
        <div class="d-flex justify-content-end" style="width: 100%;">
            <a class="btn btn-dark" href="{% url 'delete_broadcast' broadcast.id %}"><i class="bi bi-trash3-fill"></i> Delete</a>
        </div>
        {% endif %}
    </div>

    <div class="bg-light p-5 rounded-1 shadow">
        <p class="text-secondary">
            {% if broadcast.is_draft == True %}
            <i class="bi bi-megaphone-fill me-2 text-secondary"></i>Draft
            {% elif broadcast.is_draft == False %}
            <i class="bi bi-megaphone-fill me-2 text-warning"></i>Sent to Recipients
            {% endif %}
        </p>
        <h2><Strong>{{broadcast.title}}</Strong></h2>
        <hr>
        <div class="d-flex" style="gap: 50px;">
            <p><small><strong>Created</strong><br>{{broadcast.created|date:"d F Y"}} {{broadcast.created|time:"h:i A"}}</small></p>
            <p><small><strong>Updated</strong><br>{{broadcast.updated|date:"d F Y"}} {{broadcast.updated|time:"h:i A"}}</small></p>
        </div>
        <hr>
        <p>{{broadcast.content|linebreaks}}</p>

        <span class="badge bg-warning rounded-pill mt-3">Recipients {{ broadcast.receivers.count }}</span>
    </div>

    {% if broadcast.receivers %}
    <div class="list-group list-group-flush mt-5">
            <p class="p-3 mb-1 bg-warning text-white rounded-1">Recipients&nbsp;&nbsp;{{ broadcast.receivers.count }}</p>
       
            {% for receiver in broadcast.receivers.all %}
            <a  href="{% url 'read_broadcast' broadcast.id receiver.id %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-warning text-dark">
                <div class="d-flex align-items-center" style="gap: 20px">
                    <i class="bi bi-person-fill"></i>
                    <img class="member-img-sm" src="{{ receiver.image.url }}" alt="Member Image">
                    <span>{{ receiver.name }}</span>
                </div>
            </a>
            {% endfor %}
       
    </div>
    {% else %}
        <p class="text-secodary text-center">There are no guests invited to this event. <a href="{% url 'edit_broadcast' %}">Invite Guests</a></p>
    {% endif %}
</section>
{% endblock %}