<!-- Broadcast List Page serving broadcast_list, sent_broadcast_list, draft_broadcast_list views -->
{% extends 'base.html' %}
{% load static %}
{% load cache_bust %}

{% block title %}
{% with request.resolver_match.url_name as url_name %}
    {% if url_name == 'broadcast_list' %}
    InnerCircle | Broadcasts
    {% elif url_name == 'sent_broadcast_list' %}
    InnerCircle | Sent Broadcasts
    {% elif url_name == 'draft_broadcast_list' %}
    InnerCircle | Draft Broadcasts
    {% endif %}
{% endwith %}
{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'scss/circle.scss' %}?{% cache_bust %}">{% endblock %}

{% block content %}
<section class="d-flex flex-column justify-content-between m-md-5 p-md-5" style="gap: 50px">
    {% with request.resolver_match.url_name as url_name %}
    <h4 class="text-end text-secondary">
        {% if url_name == 'broadcast_list' %}
        All Broadcasts
        {% elif url_name == 'sent_broadcast_list' %}
        Sent Broadcasts
        {% elif url_name == 'draft_broadcast_list' %}
        Draft Broadcasts
        {% endif %}
    </h4>
   
        {% if url_name == 'broadcast_list' %}
        <div>
            <p class="p-3 mb-1 border-pill bg-warning text-white rounded-1">All Broadcasts&nbsp;&nbsp;{{ broadcasts.count }}</p>
            
            {% if broadcasts %}
            <div class="list-group list-group-flush">
                {% for broadcast in broadcasts %}
                <a  href="{% url 'broadcast_detail' broadcast.id %}" 
                class="list-group-item list-group-item-action d-flex justify-content-between align-items-center {% if broadcast.is_draft == True %}list-group-item-light{% else %}list-group-item-warning{% endif %} text-dark">
                    <span class="d-block"><i class="bi bi-megaphone-fill me-4"></i>{{ broadcast.title }}</span>
                    <span class="d-block"><small class="broadcast-extra-info">{{ broadcast.created|date:"d F Y" }} {{ broadcast.created|time:"h:i A" }}</small></span>
                </a>
                {% endfor %}
            </div>
            {% else %}
            <p class="text-dark text-center m-5">You currently have no sent broadcasts.<br><a class="text-dark" href="{% url 'create_broadcast' %}"><strong>Create a broadcast</strong></a></p>
            {% endif %}
        </div>
        {% elif url_name == 'sent_broadcast_list' %}
        <div>
            <p class="p-3 mb-1 bg-warning text-white rounded-1">Sent Broadcasts&nbsp;&nbsp;{{ sent_broadcasts.count }}</p>

            {% if sent_broadcasts %}
            <div class="list-group list-group-flush">
                {% for sent_broadcast in sent_broadcasts %}
                <a  href="{% url 'broadcast_detail' sent_broadcast.id %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-warning text-dark">
                    <span class="d-block"><i class="bi bi-megaphone-fill me-4"></i>{{ sent_broadcast.title }}</span>
                    <span class="d-block"><small class="broadcast-extra-info">{{ sent_broadcast.created|date:"d F Y" }} {{ sent_broadcast.created|time:"h:i A" }}</small></span>
                </a>
                {% endfor %}
            </div>
            {% else %}
            <p class="text-dark text-center m-5">You currently have no sent broadcasts.<br><a class="text-dark" href="{% url 'create_broadcast' %}"><strong>Create a broadcast</strong></a></p>
            {% endif %}
        </div>
        {% elif url_name == 'draft_broadcast_list' %}
        <div>
            <p class="p-3 mb-1 border-pill bg-warning text-white rounded-1">Draft Broadcasts&nbsp;&nbsp;{{ draft_broadcasts.count }}</p>
    
            {% if draft_broadcasts %}
            <div class="list-group list-group-flush">
                {% for draft_broadcast in draft_broadcasts %}
                <a  href="{% url 'broadcast_detail' draft_broadcast.id %}" class="list-group-item list-group-action d-flex justify-content-between align-items-center list-group-item-light text-dark">
                        <span class="d-block"><i class="bi bi-megaphone-fill me-4"></i>{{ draft_broadcast.title }}</span>
                        <span class="d-block"><small class="broadcast-extra-info">{{ draft_broadcast.created|date:"d F Y" }} {{ draft_broadcast.created|time:"h:i A" }}</small></span>
                </a>
                {% endfor %}
            </div>
            {% else %}
            <p class="text-dark text-center m-5">You currently have no draft broadcasts.<br><a class="text-dark" href="{% url 'create_broadcast' %}"><strong>Create a broadcast</strong></a></p>
            {% endif %}
        </div>
        {% endif %}
    {% endwith %}

    
</section>
{% endblock %}