{% extends 'base.html' %}
{% load static %}
{% load cache_bust %}

{% block title %}InnerCircle | New Event{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'scss/circle.scss' %}?{% cache_bust %}">{% endblock %}

{% block content %}
<section class="d-flex flex-column justify-content-between" style="gap: 50px">
    <div class="d-flex justify-content-end">
        <h4 class="text-secondary text-end">New Broadcast</h4>
    </div>


    <form action="{% url 'create_broadcast' %}" class="form-floating" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-floating mb-3">
            {{ form.title }}
            <label for="title">Broadcast Title</label>
        </div>
        <div class="mb-3">
            <label for="content">Broadcast Content</label>
            {{ form.content }}
        </div>
        <div class="mb-3">
            <label for="{{ form.receivers.id_for_label }}">Recipients</label>
            <select class="form-select" id="{{ form.receivers.id_for_label }}" name="{{ form.receivers.name }}" multiple>   
                {% for choice in form.receivers %}
                <option value="{{ choice.value }}" {% if choice.selected %}selected{% endif %}>{{ choice }}</option>
                {% endfor %}
            </select>
        </div>

        <button class="btn btn-dark" type="submit" name="save_draft">Save</button>
        <button class="btn btn-dark" type="submit">Save and Send</button>
    </form>
</section>
{% endblock %}