<!-- Edit Broadcast Page serving edit_broadcast view -->
{% extends 'base.html' %}
{% load cache_bust %}
{% load static %}

{% block title %}InnerCircle | Update {{ instance.event_name }}{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'scss/circle.scss' %}?{% cache_bust %}">{% endblock %}

{% block content %}
<section class="d-flex flex-column justify-content-between m-md-5 p-md-5" style="gap: 50px">
    <div class="d-flex justify-content-between align-items-center mb-5" >
        <a href="{% url 'broadcast_detail' instance.id %}" class="text-dark"><i class="bi bi-arrow-left-circle-fill" style="font-size: 1.8rem;"></i></a>
        <h4 class="text-secondary text-end"> Edit Broadcast</h4>
    </div>


    <form action="{% url 'edit_broadcast' broadcast_id=instance.id %}" class="form-floating" method="POST">
        {% csrf_token %}
        <div class="form-floating mb-3">
            {{ form.title }}
            <label for="title">Broadcast Title</label>
            {% if form.title.errors %}
                {% for error in form.title.errors %}
                <code><i class="bi bi-exclamation-circle-fill"></i>&nbsp;{{error}}</code>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-floating mb-3">
            
            {{ form.content }}
            <label for="content">Broadcast Content</label>
            {% if form.content.errors %}
                {% for error in form.content.errors %}
                <code><i class="bi bi-exclamation-circle-fill"></i>&nbsp;{{error}}</code>
                {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3">
            <!-- <label for="{{ form.receivers.id_for_label }}">Recipients</label> -->
            <!-- <select class="form-select" id="{{ form.receivers.id_for_label }}" name="{{ form.receivers.name }}" multiple>   
                {% for choice in form.receivers %}
                <option value="{{ choice.value }}" {% if choice.selected %}selected{% endif %}>{{ choice }}</option>
                {% endfor %}
            </select> -->
            {{ form.receivers }}
        </div>

        {% if form.not_field_errors %}
            {% for error in form.not_field_errors %}
                <code><i class="bi bi-exclamation-circle-fill"></i>&nbsp;{{error}}</code>
            {% endfor %}
        {% endif %}

        <button class="btn btn-dark" type="submit">Save Changes</button>
    </form>
</section>
{% endblock %}