<!-- Read Broadcast Page serving read_broadcast view. -->
{% extends 'base.html' %}
{% load static %}
{% load cache_bust %}

{% block title %}InnerCircle | Broadcast{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'scss/circle.scss' %}?{% cache_bust %}">{% endblock %}

{% block member_content %}
<div class="member-broadcast-view">
    <div class="mb-5">
        <a class="navbar-brand text-dark" href="{% url 'home' %}"><strong>InnerCircle</strong></a>
        <small class="d-block text-secondary">Prioritize The People That Matter</small>
    </div>
    
    <p><i class="bi bi-person-fill"></i>{{ member.name }}</p>
    <h4 class="text-white text-center bg-dark mb-5">{{ broadcast.title }}</h4>
    <div class="d-flex detail-dates" style="gap: 50px;">
        <p><small><strong>Created</strong><br>{{broadcast.created|date:"d F Y"}} {{broadcast.created|time:"h:i A"}}</small></p>
        <p><small><strong>Updated</strong><br>{{broadcast.updated|date:"d F Y"}} {{broadcast.updated|time:"h:i A"}}</small></p>
    </div>
    <p>{{broadcast.content|linebreaks}}</p>
</div>
{% endblock %}