<!-- AI Chat Page serving assistant view -->
{% extends 'base.html' %}
{% load cache_bust %}
{% load static %}

{% block title %}InnerCircle | AI Assistant{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'scss/circle.scss' %}?{% cache_bust %}">
<link rel="stylesheet" href="{% static 'scss/assistant.scss' %}?{% cache_bust %}">

{% endblock %}


{% block content %}
<section class="d-flex flex-column justify-content-between m-5 p-5" style="gap: 50px; position: relative;">
    <h4 class="text-end text-secondary">AI Assistant</h4>
    
    <div class="chat-container"> 
      <div class="chat-intro border-bottom z-3 ps-3 pe-3">
        <p class="alert-primary p-3 rounded mb-4">Hi <strong>{{ user.username }}</strong> ! I am your AI Assistant, you can ask me anything and I do my best to help.</p>
        <form class="message-form d-flex justify-content-center">
          {%csrf_token%}
          <div class="input-group mb-1">
            <span class="input-group-text" id="addon-wrapping"><i class="bi bi-chat-dots"></i></span>
            <input type="text" class="form-control message-input" placeholder="Type your message here..." aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-dark" type="submit" id="button-addon2">Send</button>
          </div>
        </form>
      </div>
      

        <div class="flex-grow-1 mt-5 ps-3 pe-3">
            <ul class="list-unstyled messages-list">
              {% for chat in chats %}
                {% if chat.user == request.user %}
                <li class="message received alert-primary rounded shadow-sm p-3">
                  <div class="message-text">
                    <div class="message-sender d-felx justify-content-between">
                      <strong><i class="bi bi-chat-dots-fill me-3"></i>AI Assistant</strong>
                    </div>
                    <hr class="z-n1">
                    <div class="message-content">
                      {{ chat.response|linebreaks }}
                    </div>
                  </div>
                </li>

                <li class="message sent alert-secondary rounded shadow-sm p-3">
                  <div class="message-text">
                    <div class="message-sender d-flex justify-content-between">
                      <strong><i class="bi bi-chat-dots me-3"></i> You</strong>
                      <small><strong>{{chat.created_at|time:"H:iA"}} {{chat.created_at|date:"d F Y"}}</strong></small>
                      
                    </div>
                    <hr class="z-n1">
                    <div class="message-content">
                      {{ chat.message|linebreaks }}
                    </div>
                  </div>
                </li>
                
                {% endif %}
              {% endfor %}
            </ul> 
          
          <!-- <p class="text-center">There is no chat thread for today</p> -->
          
      </div>
</section>


{% endblock %}

{% block scripts %}
<script>
  const messagesList = document.querySelector('.messages-list');
  const messageForm = document.querySelector('.message-form');
  const messageInput = document.querySelector('.message-input');

  messageForm.addEventListener('submit', (event) => {
    event.preventDefault();

    const message = messageInput.value.trim();
    if (message.length === 0) {
      return;
    }

    const messageItem = document.createElement('li');
    messageItem.classList.add('message', 'sent');
    messageItem.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
                <b>You</b>
            </div>
            <div class="message-content">
                ${message}
            </div>
        </div>`;
    messagesList.appendChild(messageItem);

    messageInput.value = '';

    fetch('', {
      method: 'POST',
      headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
      body: new URLSearchParams({
        'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
        'message': message
      })
    })
      .then(response => response.json())
      .then(data => {
        const response = data.response;
        const messageItem = document.createElement('li');
        messageItem.classList.add('message', 'received');
        messageItem.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
              <b>AI Chatbot</b>
            </div>
            <div class="message-content">
                ${response}
            </div>
        </div>
          `;
        messagesList.appendChild(messageItem);
      });
  });
</script>
{% endblock %}