{% load bootstrap_icons %}
<style>
    .search-bar{
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        border-top: 1px solid whitesmoke;
    }

    form{
        margin: 20px 0;
        padding: 0 50px;
    }
</style>
<div class="search-bar">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="input-group">
            <span class="input-group-text" id="addon-wrapping">{% bs_icon 'info-circle' %}</span>
            <input type="text" class="form-control" placeholder="AI Advanced Search">
            <button class="btn btn-dark" type="submit">{% bs_icon 'arrow-up-circle-fill' %}</button>
        </div>
    </form>
</div>