<!-- Main Base HTML file. -->
{% load cache_bust %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    
    <!-- CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"> -->
    <link rel="stylesheet" href="{% static 'bootstrap_icons/css/bootstrap_icons.css' %}?{% cache_bust %}">
    <link  href="{% static 'icons/bootstrap-icons.css' %}?{% cache_bust %}" rel="stylesheet">
    <link href="{% static 'icons/bootstrap-icons.min.css' %}?{% cache_bust %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'scss/main.scss' %}?{% cache_bust %}">
    <link rel="stylesheet" href="{% static 'scss/nav.scss' %}?{% cache_bust %}">
    <link rel="stylesheet" href="{% static 'scss/page-nav.scss' %}?{% cache_bust %}">
    {% block css %}{% endblock %}

    <!-- JS -->
    <script>
        $(".alert").alert('close')
    </script>
    {% block js %}{% endblock %}
</head>
<body class="bg-light">
    <div class="wrapper">
        {% with request.resolver_match.url_name as url_name %}
            {% if url_name == 'signUp' or url_name == 'signIn' or url_name == 'password_reset' or url_name == 'password_reset_done' or url_name == 'password_reset_confirm' or url_name == 'password_reset_complete' or url_name == 'password_change' or url_name == 'password_change_done' or url_name == 'deactivate_account' or url_name == 'account_deactivated' %}
            <div class="auth-wrapper">
                <nav class="auth-nav d-flex justify-content-between align-items-center p-4">
                    <a class="text-dark" {% if url_name == 'password_change' or url_name == 'password_change_done' or url_name == 'deactivate_account' %}href="{% url 'settings' user.id %}"{% else %}href="{% url 'home' %}"{% endif %}><i class="bi bi-arrow-left-circle-fill" style="font-size: 1.8rem;"></i></a>
                    <a class="navbar-brand text-dark" href="{% url 'home' %}">InnerCircle</a>
                </nav>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-dark alert-dismissible fade show d-flex align-items-center shadow" role="alert">
                            {% if message.tags == 'success' %}
                            <span class="pe-5"><i class="bi bi-check-circle-fill"></i></span>
                            {% elif message.tags == 'warning' %}
                            <span class="pe-5"><i class="bi bi-exclamation-triangle-fill"></i></span>
                            {% elif message.tags == 'info' %}
                            <span class="pe-5"><i class="bi bi-info-circle-fill"></i></span>
                            {% endif %}
                            
                            <div>
                                <strong>{{ message }}</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                    
                {% block auth_content %}
                {% endblock %}
            </div>
                
            {% elif  url_name == 'rsvp' or url_name == 'rsvp_done' or url_name == 'check_list' or url_name == 'read_broadcast' %}
                <div class="d-flex justify-content-center align-self-center" style="height: 100vh;">
                    <div class="bg-white p-5 rounded overflow-auto">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-dark alert-dismissible fade show d-flex align-items-center shadow" role="alert">
                                    {% if message.tags == 'success' %}
                                    <span class="pe-5"><i class="bi bi-check-circle-fill"></i></span>
                                    {% elif message.tags == 'warning' %}
                                    <span class="pe-5"><i class="bi bi-exclamation-triangle-fill"></i></span>
                                    {% elif message.tags == 'info' %}
                                    <span class="pe-5"><i class="bi bi-info-circle-fill"></i></span>
                                    {% endif %}
        
                                    <div>
                                        <strong>{{ message }}</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% block member_content %}
                        {% endblock %}
                    </div>
                </div>
            {% else %}
            <div class="">
                <div class="">
                    <nav class="bg-dark text-white sidebar postition-fixed main-nav d-flex align-items-center">
                        {% include 'components/nav.html' %}
                    </nav>
                   
                    <main class="bg-white page" role="main">
                        {% include 'components/top-nav.html' %}
                        <nav class="navbar ps-1 pe-1 bg-light text-white justify-content-start page-nav">
                            {% include 'components/page-nav.html' %}
                        </nav>
                        <div class="page-content overflow-scroll">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-dark alert-dismissible fade show d-flex align-items-center shadow" role="alert">
                                        {% if message.tags == 'success' %}
                                        <span class="pe-5"><i class="bi bi-check-circle-fill"></i></span>
                                        {% elif message.tags == 'warning' %}
                                        <span class="pe-5"><i class="bi bi-exclamation-triangle-fill"></i></span>
                                        {% elif message.tags == 'info' %}
                                        <span class="pe-5"><i class="bi bi-info-circle-fill"></i></span>
                                        {% endif %}
            
                                        <div>
                                            <strong>{{ message }}</strong>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}

                            <div class="position-fixed d-flex add-content-btns">
                                <a href="{% url 'create_member' %}" class="btn btn-dark btn-sm position-relative shadow">
                                    <i class="bi bi-plus-circle-fill text-info"></i>
                                    <span class="position-absolute top-0 start-100 translate-middle bg-info border border-info rounded-circle">
                                        <i class="bi bi-person-fill text-dark" style="font-size: 0.6rem;"></i>
                                    </span>
                                </a>

                                <a href="{% url 'create_group' %}" class="btn btn-dark btn-sm position-relative shadow">
                                    <i class="bi bi-plus-circle-fill text-info"></i>
                                    <span class="position-absolute top-0 start-100 translate-middle bg-info border border-info rounded-circle">
                                        <i class="bi bi-people-fill text-dark" style="font-size: 0.6rem;"></i>
                                    </span>
                                </a>

                                <a href="{% url 'create_broadcast' %}" class="btn btn-dark btn-sm position-relative shadow">
                                    <i class="bi bi-plus-circle-fill text-warning"></i>
                                    <span class="position-absolute top-0 start-100 translate-middle bg-warning border border-warning rounded-circle">
                                        <i class="bi bi-megaphone-fill text-dark" style="font-size: 0.6rem;"></i>
                                    </span>
                                </a>

                                <a href="{% url 'create_event' %}" class="btn btn-dark btn-sm position-relative shadow">
                                    <i class="bi bi-plus-circle-fill text-success"></i>
                                    <span class="position-absolute top-0 start-100 translate-middle bg-success border border-success rounded-circle">
                                        <i class="bi bi-calendar-event-fill text-dark" style="font-size: 0.6rem;"></i>
                                    </span>
                                </a>

                                <a href="{% url 'create_list' %}" class="btn btn-dark btn-sm position-relative shadow">
                                    <i class="bi bi-plus-circle-fill text-danger"></i>
                                    <span class="position-absolute top-0 start-100 translate-middle bg-danger border border-danger rounded-circle">
                                        <i class="bi bi-ui-checks text-dark" style="font-size: 0.6rem;"></i>
                                    </span>
                                </a>
                            </div>

                            {% block content %}
                            {% endblock %}
                        </div>
                        
                    </main>
                </div>
            </div>
            {% endif %}
        {% endwith %}
    </div>

<!-- <script>
    function submitForm(itemId) {
        document.getElementById('form_' + itemId).submit();
    }
</script> -->
<script src="{% static 'js/main.js' %}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>