html{
    scrollbar-color: #212529 white;
    scrollbar-width: thin;
    scrollbar-arrow-color: transparent;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #212529;
}

::-webkit-scrollbar-track {
    background-color: white;
}

.wrapper{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.auth-wrapper{
    position: relative;

    .alert{
        position: absolute;
        top: 10px;
        left: 15vw;
        right: 15vw;
        z-index: 2;
    }
}

.info-wrapper{
    position: relative;

    .alert{
        position: absolute;
        z-index: 2;
        top: 15vh;
        left: 10vw;
        right: 10vw;
    }
}

.main-nav{
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-top: 10px;

    img{
        width: 70px;
        height: 70px;
    }
}



.container{
    width: 100%;
    height: 100%;
    padding-right: 0;
    padding-left:0; 
}



.page{
    position: relative;
    margin-left: 180px;
}

.page-content{
    height: 100vh;
    padding-bottom: 100px;
    position: relative;

    .alert{
        position: absolute;
        top: 30px;
        left: 50px;
        right: 50px;
    }
}