// Project Main Universal Styles
html{
    scrollbar-color: #212529 white;
    scrollbar-width: thin;
    scrollbar-arrow-color: transparent;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #212529;
}

::-webkit-scrollbar-track {
    background-color: white;
}

.wrapper{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.auth-wrapper{
    position: relative;

    .alert{
        position: absolute;
        top: 10px;
        left: 15vw;
        right: 15vw;
        z-index: 2;
    }
}

.info-wrapper{
    position: relative;

    .alert{
        position: absolute;
        z-index: 2;
        top: 15vh;
        left: 10vw;
        right: 10vw;
    }
}

.main-nav{
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-top: 10px;

    img{
        width: 70px;
        height: 70px;
    }

    .main-nav-content{
        height: 80vh;
    }
}


.container{
    width: 100%;
    height: 100%;
    padding-right: 0;
    padding-left:0; 
}



.page{
    position: relative;
    margin-left: 180px;
}

.page-content{
    height: 100vh;
    padding-bottom: 100px;
    position: relative;

    .alert{
        position: absolute;
        top: 30px;
        left: 50px;
        right: 50px;
    }
}

// Nav Styles

ul{
    li{
       img{
        width: 100px;
        height: auto;
       } 
    }
}

img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    height: auto;
    border-radius: 50%;
} 

.page-nav{
    border-bottom: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
}

.auth-nav{
    position: fixed;
    width: 100vw;
}

.top-nav{
    .open-mobile-nav-btn{
        width: 35px;
        height: 35px;
        display: none!important;
        position: fixed;
        top: 10px;
        right: 20px;
    }

    .mobile-navbar{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 1;

        .close-mobile-nav-btn{
            width: 35px;
            height: 35px;
            position: absolute;
            top: 10px;
            right: 20px;
            z-index: 99!important;
        }
    }
}

@media (min-width: 768px) and (max-width: 992px){ 
    .main-nav{
        width: 80px;

        ul li {
            .icon-desc, .username{
                display: none;
            }

            img{
                width: 50px;
                height: 50px;
            }
        }
    }

    .page{
        margin-left: 80px;
    }
 }

 @media (max-width: 767.98px) {
    .main-nav{
        display: none!important;
    }

    .page{
        margin-left: 0;
    }

    .page-nav{
        .page-icon-desc{
            display: none;
        }
    }

    .top-nav{
        .info-links{
            display: none;
        }

        .search-bar{
            display: none;
        }

        .open-mobile-nav-btn{
            display: flex!important;
            
        }

    }

    section{
        padding: 25px;
    }   

    
 }

