

ul{
    li{
       img{
        width: 100px;
        height: auto;
       } 
    }
}

img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    height: auto;
    border-radius: 50%;
} 

.page-nav{
    border-bottom: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
}

.auth-nav{
    position: fixed;
    width: 100vw;
}