{% load bootstrap_icons %}
{% with request.resolver_match.url_name as url_name %}
<div class="d-flex flex-column page-nav">

    {% if url_name == 'profile' %}
        <h5 class="p-2 text-center">Profile</h5>
        <hr>
        <ul class="p-2 nav">
            <li class="nav-item">
                <a href="{% url 'profile' pk=user %}" class="nav-link text-white">{% bs_icon 'person-circle' %} Profile Info</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'settings' %}" class="nav-link text-white">{% bs_icon 'chat-dots' %} AI Chat</a>
            </li>
        </ul>
    {% elif url_name == 'dashboard' or url_name == 'reminders' or url_name == 'notifications' %}
        <h5 class="p-2 text-center">Dashboard</h5>
        <hr>
        <ul class="p-2 nav">
            <li class="nav-item">
                <a href="{% url 'dashboard' %}" class="nav-link {% if url_name == 'dashboard' %}text-dark{% else %}text-white{% endif %}">{% bs_icon 'layout-wtf' %} Home</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'notifications' %}" class="nav-link {% if url_name == 'notifications' %}text-dark{% else %}text-white{% endif %}">{% bs_icon 'bell' %} Notifications</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'reminders' %}" class="nav-link {% if url_name == 'reminders' %}text-dark{% else %}text-white{% endif %}">{% bs_icon 'alarm' %} Reminders</a>
            </li>
        </ul>
    {% elif url_name == 'member_list' or url_name == 'member_detail' or url_name == 'create_member' or url_name == 'group_list' or url_name == 'group_detail' or url_name == 'create_group' or url_name == 'edit_member' or url_name == 'delete_member' or url_name == 'edit_group' or url_name == 'delete_group' %}
        <h5 class="p-2 text-center">Your Circle</h5>
        <hr>
        <ul class="p-2 nav">
            <li class="nav-item">
                <a href="{% url 'member_list' %}" 
                class="nav-link {% if url_name == 'member_list' or url_name == 'member_detail' or url_name == 'create_member' or url_name == 'edit_member' or url_name == 'delete_member' %}text-dark{% else %} text-white{% endif %}">
                {% bs_icon 'people' %} Circle</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'group_list' %}" 
                class="nav-link {% if url_name == 'group_list' or url_name == 'group_detail' or url_name == 'create_group' or url_name == 'edit_group' or url_name == 'delete_group' %}text-dark{% else %} text-white{% endif %}">{% bs_icon 'person-gear' %} Groups</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link text-white">{% bs_icon 'person-heart' %} Recent</a>
            </li>
        </ul>
    {% elif url_name == 'broadcast_list' or url_name == 'broadcast_detail' or url_name == 'create_broadcast' or url_name == 'edit_broadcast' or url_name == 'delete_broadcast' %}
        <h5 class="p-2 text-center">Broadcasts</h5>
        <hr>
        <ul class="p-2 nav">
            <li class="nav-item">
                <a href="{% url 'broadcast_list' %}" class="nav-link {% if url_name == 'broadcast_list' or url_name == 'broadcast_deatil' or url_name == 'edit_broadcast' or url_name == 'delete_broadcast' %}text-dark{% else %}text-white{% endif %}">{% bs_icon 'megaphone' %} <small>All Broadcasts</small></a>
            </li>
            <li class="nav-item">
                <a href="{% url 'create_broadcast' %}" class="nav-link {% if url_name == 'create_broadcast' %}text-dark{% else %}text-white{% endif %}">{% bs_icon 'pencil-square' %} <small>New Broadcast</small></a>
            </li>
        </ul>
    {% elif url_name == 'event_list' or url_name == 'event_detail' or url_name == 'create_event' or url_name == 'update_event' or url_name == 'delete_event' %}
        <h5 class="p-2 text-center">Your Events</h5>
        <hr>
        <ul class="p-2 nav">
            <li class="nav-item">
                <a href="{% url 'event_list' %}" class="nav-link {% if url_name == 'event_list' or url_name == 'event_detail' or url_name == 'update_event' or url_name == 'delete_event' %}text-dark{% else %}text-white{% endif %}">{% bs_icon 'calendar4-week' %} All Events</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'create_event' %}" class="nav-link {% if url_name == 'create_event' %}text-dark{% else %}text-white{% endif %}">{% bs_icon 'calendar-plus' %} New Event</a>
            </li>
        </ul>
    {% elif url_name == 'lists' or url_name == 'list_detail' or url_name == 'create_list' or url_name == 'edit_list' or url_name == 'delete_list' %}
        <h5 class="p-2 text-center">Your Lists</h5>
        <hr>
        <ul class="p-2 nav">
            <li class="nav-item">
                <a href="{% url 'lists' %}" class="nav-link {% if url_name == 'lists' or url_name == 'list_detail' or url_name == 'edit_list' or url_name == 'delete_lits' %}text-dark{% else %}text-white{% endif %}">{% bs_icon 'card-list' %} <small>All Lists</small></a>
            </li>
            <li class="nav-item">
                <a href="{% url 'create_list' %}" class="nav-link {% if url_name == 'create_lits' %}text-dark{% else %}text-white{% endif %}">{% bs_icon 'person-lines-fill' %} <small>New List</small> </a>
            </li>
        </ul>
    {% elif url_name == 'search_results' %}
        <h5 class="p-2 text-center"><small>Search</small></h5>
        <hr>
        <p class="text-center">{% bs_icon 'list-ol' %} <span class="badge bg-white text-secondary rounded-pill">{{ results|length }}</span></p>
    {% endif %}
</div>
{% endwith %}