<!-- Secondary Nav for Main Pages -->
{% with request.resolver_match.url_name as url_name %}
    {% if url_name == 'profile' or url_name == 'settings' or url_name == 'create_profile' %}
        <ul class="nav">
            <li class="nav-item">
                <a href="{% url 'profile' pk=user.pk %}" class="nav-link {% if url_name == 'profile' %}text-secondary text-opacity-75{% else %}text-dark{% endif %}"><i class="bi bi-person-circle me-2"></i><small class="page-icon-desc">Profile Info</small></a>
            </li>
            <li class="nav-item">
                <a href="{% url 'settings' %}" class="nav-link {% if url_name == 'settings' %}text-secondary text-opacity-75{% else %}text-dark{% endif %}"><i class="bi bi-gear-fill me-2"></i><small class="page-icon-desc">Settings</small></a>
            </li>
        </ul>
    {% elif url_name == 'dashboard' or url_name == 'reminders' or url_name == 'notifications' %}
        <ul class="nav">
            <li class="nav-item">
                <a href="{% url 'dashboard' %}" class="nav-link {% if url_name == 'dashboard' %}text-secondary text-opacity-75{% else %}text-dark{% endif %}"><i class="bi bi-grid-1x2-fill me-2"></i><small class="page-icon-desc">Dashboard</small></a>
            </li>
            <li class="nav-item">
                <a href="{% url 'notifications' %}" class="nav-link {% if url_name == 'notifications' %}text-secondary text-opacity-75{% else %}text-dark{% endif %}"><i class="bi bi-bell-fill me-2"></i><small class="page-icon-desc">Notifications</small></a>
            </li>
            <li class="nav-item">
                <a href="{% url 'reminders' %}" class="nav-link {% if url_name == 'reminders' %}text-secondary text-opacity-75{% else %}text-dark{% endif %}"><i class="bi bi-alarm-fill me-2"></i><small class="page-icon-desc">Reminders</small></a>
            </li>
        </ul>
    {% elif url_name == 'member_list' or url_name == 'member_detail' or url_name == 'create_member' or url_name == 'group_list' or url_name == 'group_detail' or url_name == 'create_group' or url_name == 'edit_member' or url_name == 'delete_member' or url_name == 'edit_group' or url_name == 'delete_group' %}
        <ul class="nav">
            <li class="nav-item">
                <a href="{% url 'member_list' %}" 
                class="nav-link {% if url_name == 'member_list' or url_name == 'member_detail' or url_name == 'create_member' or url_name == 'edit_member' or url_name == 'delete_member' %}text-secondary text-opacity-75{% else %} text-dark{% endif %}">
                <i class="bi bi-person-fill me-2"></i><small class="page-icon-desc">Circle</small></a>
            </li>
            <li class="nav-item">
                <a href="{% url 'group_list' %}" 
                class="nav-link {% if url_name == 'group_list' or url_name == 'group_detail' or url_name == 'create_group' or url_name == 'edit_group' or url_name == 'delete_group' %}text-secondary text-opacity-75{% else %} text-dark{% endif %}"><i class="bi bi-people-fill me-2"></i><small class="page-icon-desc">Groups</small></a>
            </li>
        </ul>
    {% elif url_name == 'broadcast_list' or url_name == 'sent_broadcast_list' or url_name == 'draft_broadcast_list' or url_name == 'broadcast_detail' or url_name == 'create_broadcast' or url_name == 'edit_broadcast' or url_name == 'delete_broadcast' %}
        <ul class="nav">
            <li class="nav-item">
                <a href="{% url 'broadcast_list' %}" class="nav-link {% if url_name == 'broadcast_list' or url_name == 'broadcast_detail' or url_name == 'edit_broadcast' or url_name == 'delete_broadcast' %}text-secondary text-opacity-75{% else %}text-dark{% endif %}"><i class="bi bi-megaphone-fill me-2"></i><small class="page-icon-desc">All</small></a>
            </li>
            <li class="nav-item">
                <a href="{% url 'sent_broadcast_list' %}" class="nav-link {% if url_name == 'sent_broadcast_list' %}text-secondary text-opacity-75{% else %}text-dark{% endif %}"><i class="bi bi-envelope-check-fill me-2"></i><small class="page-icon-desc">Sent</small></a>
            </li>
            <li class="nav-item">
                <a href="{% url 'draft_broadcast_list' %}" class="nav-link {% if url_name == 'draft_broadcast_list' %}text-secondary text-opacity-75{% else %}text-dark{% endif %}"><i class="bi bi-envelope-exclamation-fill me-2"></i><small class="page-icon-desc">Drafts</small></a>
            </li>
        </ul>
    {% elif url_name == 'event_list' or url_name == 'sent_event_list' or url_name == 'draft_event_list' or url_name == 'event_detail' or url_name == 'create_event' or url_name == 'update_event' or url_name == 'delete_event' %}
        <ul class="nav">
            <li class="nav-item">
                <a href="{% url 'event_list' %}" class="nav-link {% if url_name == 'event_list' or url_name == 'event_detail' or url_name == 'update_event' or url_name == 'delete_event' %}text-secondary text-opacity-75{% else %}text-dark{% endif %}"><i class="bi bi-calendar-week-fill me-2"></i><small class="page-icon-desc">All</small></a>
            </li>
            <li class="nav-item">
                <a href="{% url 'sent_event_list' %}" class="nav-link {% if url_name == 'sent_event_list' %}text-secondary text-opacity-75{% else %}text-dark{% endif %}"><i class="bi bi-envelope-check-fill me-2"></i><small class="page-icon-desc">Sent</small></a>
            </li>
            <li class="nav-item">
                <a href="{% url 'draft_event_list' %}" class="nav-link {% if url_name == 'draft_event_list' %}text-secondary text-opacity-75{% else %}text-dark{% endif %}"><i class="bi bi-envelope-exclamation-fill me-2"></i><small class="page-icon-desc">Drafts</small></a>
            </li>
        </ul>
    {% elif url_name == 'lists' or url_name == 'sent_lists' or url_name == 'draft_lists' or url_name == 'list_detail' or url_name == 'create_list' or url_name == 'edit_list' or url_name == 'delete_list' %}
        <ul class="nav">
            <li class="nav-item">
                <a href="{% url 'lists' %}" class="nav-link {% if url_name == 'lists' or url_name == 'list_detail' or url_name == 'edit_list' or url_name == 'delete_lits' %}text-secondary text-opacity-75{% else %}text-dark{% endif %}"><i class="bi bi-ui-checks me-2"></i><small class="page-icon-desc">All</small></a>
            </li>
            <li class="nav-item">
                <a href="{% url 'sent_lists' %}" class="nav-link {% if url_name == 'sent_lists' %}text-secondary text-opacity-75{% else %}text-dark{% endif %}"><i class="bi bi-envelope-check-fill me-2"></i><small class="page-icon-desc">Sent</small></a>
            </li>
            <li class="nav-item">
                <a href="{% url 'draft_lists' %}" class="nav-link {% if url_name == 'draft_lists' %}text-secondary text-opacity-75{% else %}text-dark{% endif %}"><i class="bi bi-envelope-exclamation-fill me-2"></i><small class="page-icon-desc">Drafts</small></a>
            </li>
        </ul>
    {% elif url_name == 'search_results' %}
    <ul class="nav">
        <li class="nav-item d-flex align-items-center">
            <p class="pt-2 text-dark ms-5">Search Results &nbsp;&nbsp;<span class="badge bg-dark text-white rounded-pill">{{ results|length }}</span></p>
        </li>
        </ul>
    {% elif url_name == 'assistant' or url_name == 'chat_history' %}
    <ul class="nav">
        <li class="nav-item">
            <a href="{% url 'assistant' %}" class="nav-link {% if url_name == 'assistant' %}text-secondary text-opacity-75{% else %}text-dark{% endif %}"><i class="bi bi-chat-square-text-fill me-2"></i><small class="page-icon-desc">Chat</small></a>
        </li>
        <li class="nav-item">
            <a href="{% url 'chat_history' %}" class="nav-link {% if url_name == 'chat_history' %}text-secondary text-opacity-75{% else %}text-dark{% endif %}"><i class="bi bi-person-lines-fill me-2"></i><small class="page-icon-desc">Chat History</small></a>
        </li>
    </ul>
    {% endif %}

{% endwith %}