{% load bootstrap_icons %}
<style>
    form{
        margin: 30px 0;
        padding: 0 50px;
    }
</style>
<div class="search-bar bg-white">
    <form action="{% url 'search_results' %}" method="GET">
        <div class="input-group">
            <span class="input-group-text" id="addon-wrapping">{% bs_icon 'search' %}</span>
            <input type="text" name="q" class="form-control" placeholder="Search">
            <button class="btn btn-dark" type="submit">{% bs_icon 'arrow-up-circle-fill' %}</button>
        </div>
    </form>
</div>