<!-- Top Nav for Main Templates -->
<style>
    .page-footer{
        border-bottom: 1px solid whitesmoke;
        padding: 5px 50px;
    }
</style>

<div class="page-footer d-flex justify-content-between">
    <a class="navbar-brand text-dark" href="{% url 'home' %}">InnerCircle</a>
    <ul class="nav nav-underline">
        <li class="nav-item ">
            <a href="{% url 'home' %}" class="nav-link text-dark active">about</a>
        </li>
        <!-- <li class="nav-item">
            <a href="" class="nav-link text-dark">contact</a>
        </li> -->
        <li class="nav-item">
            <a href="{% url 'help' %}" class="nav-link text-dark">help</a>
        </li>
    </ul>

    {% include 'components/search-bar.html' %}

    
</div>