<!-- Top Nav for Main Templates -->
<style>
    .page-footer{
        border-bottom: 1px solid whitesmoke;
        padding: 5px 50px;
    }
</style>

<div class="page-footer d-flex justify-content-between align-items-center top-nav">
    <a class="navbar-brand text-dark" href="{% url 'home' %}">InnerCircle</a>
    <ul class="nav nav-underline info-links">
        <li class="nav-item ">
            <a href="{% url 'home' %}" class="nav-link text-dark active">about</a>
        </li>
        <!-- <li class="nav-item">
            <a href="" class="nav-link text-dark">contact</a>
        </li> -->
        <li class="nav-item">
            <a href="{% url 'help' %}" class="nav-link text-dark">help</a>
        </li>
    </ul>

    {% include 'components/search-bar.html' %}

    <a href="javascript:void(0);" class="shadow rounded-circle mobile-nav-btn d-flex justify-content-center align-items-center bg-dark text-white" onclick="openNav()">
        <i class="bi bi-three-dots-vertical"></i>
    </a>
</div>