<!-- About Page serving about view. -->
{% extends 'info-base.html' %}
{% load static %}

{% block title %}InnerCircle | About{% endblock %}

{% block info_content %}
<div class="info-content p-5">
    <div class="d-flex justify-content-center align-items-center p-5" style="min-height: 80vh;">
        <div style="width: 60vw;">
            <h2>InnerCircle's Story</h2>
            <p>InnerCircle is a final project for the <a class="text-dark" href="https://www.alxafrica.com/software-engineering-plus/" target="_blank"><strong>ALX</strong></a>'s Software Engineering Plus with Backend Specialization Course.</p>
            <p>This web application is a personal relationship tracker and organizer. It helps users keep track of
                the people that matter most and offers features that aid in making these relationships stronger.
            </p>
            <p>The idea for the project transpired from a personal need to have all the people I care about in one place, like a contact book that also offers me a way to keep track of my interactions and feelings with the relationships
                that I find of most value. I also wanted a way in which to communicate important news and updates and have these stored all in one place.
                Additionally, I needed the application to fullfil the need to invite my community to large and intimate events, as well as 
                communicate my preferences for things they might be interested in.
            </p>

            <p>You can find out more about how I achieved this my creating your own account
                <a class="text-dark" href="{% url 'signUp' %}"><strong>here</strong></a> or learn more about the application and its features <a class="text-dark" href="{% url 'home' %}"><strong>here</strong></a>.</p>
            
            <!-- <p>This is a solo project by <a class="text-dark" href="https://github.com/pandeypearl" target="_blank"><strong>Pretty Pandey</strong></a></p> -->
        </div>
    </div>
</div>
{% endblock %}