<!-- User Account Deactivated Page serving account deactivated view. -->
{% extends 'base.html' %}

{% block title %}InnerCircle | Account Deactivated{% endblock %}

{% block auth_content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;" >
    <div class="card">
        <div class="card-header text-center bg-dark text-white">Account Deactivated</div>
        <div class="card-body">
            <h4>Your Account Has Been Deactivated</h4>
            <p>We're sorry to see you go. If you change your mind, you can always reactivate your account.</p>
        </div>
    </div>
</div>
{% endblock %}