<!-- Dashboard Page serving dashboard view. -->
{% extends 'base.html' %}
{% load cache_bust %}
{% load custom_filters %}
{% load static %}

{% load in_list %}

{% block title %}InnerCircle | Dashboard{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'scss/circle.scss' %}?{% cache_bust %}">{% endblock %}

{% block content %}
<section class="d-flex flex-column flex-wrap justify-content-between m-md-5 p-md-5" style="gap: 50px">
    <h4 class="text-end text-secondary">Dashboard</h4>

    <div>
        <a href="#circle" class="badge bg-dark p-2 me-1 text-decoration-none link-light"><i class="bi bi-person-fill me-2"></i>Circle</a>
        <a href="#broadcasts" class="badge bg-dark p-2 me-1  text-decoration-none link-light"><i class="bi bi-megaphone-fill me-2"></i>Broadcasts</a>
        <a href="#events" class="badge bg-dark p-2 me-1  text-decoration-none link-light"><i class="bi bi-calendar-event-fill me-2"></i>Events</a>
        <a href="#lists" class="badge bg-dark p-2 text-decoration-none link-light"><i class="bi bi-ui-checks me-2"></i>Lists</a>
    </div>

    <div class="mt-3 mb-3 shadow" id="circle">
        <p class="bg-light p-3 mb-1 d-flex justify-content-between">
            <strong>Circle </strong>
            <span><i class="bi bi-person-fill me-2"></i>{{ member_count }}</span>
        </p>
        <div class="list-group list-group-flush">
            {% for member in members %}
            <a href="{% url 'member_detail' member.id %}" class="list-group-item list-group-item-action list-group-item-info d-flex justify-content-between align-items-center link-dark">
                <span><i class="bi bi-person-fill me-4"></i>{{ member.name }}</span>
                {% with member_groups_count=member|get_member_groups:member_groups|length %}
                <span class="badge bg-info"><i class="bi bi-people-fill me-2"></i>{{ member_groups_count }}</span>
                {% endwith %}
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="mt-3 mb-3 shadow" id="broadcasts">
        <p class="bg-light p-3 mb-1 d-flex justify-content-between">
            <strong>Broadcasts </strong>
            <span><i class="bi bi-megaphone-fill me-2"></i>{{ broadcast_count }}</span>
        </p>
        <div class="list-group list-group-flush">
            {% for broadcast in broadcasts %}
            <a href="{% url 'broadcast_detail' broadcast.id %}" class="list-group-item list-group-item-action list-group-item-warning d-flex justify-content-between align-items-center link-dark">
                <span><i class="bi bi-megaphone-fill me-4"></i>{{ broadcast.title }}</span>
                {% if broadcast.is_draft == True %}
                    <span class="text-secondary"><i class="bi bi-envelope-exclamation-fill"></i></span>
                {% else %}
                    <span class="text-warning"><i class="bi bi-envelope-check-fill"></i></span>
                {% endif %}
            </a>
            {% endfor %}
        </div>
    </div>


    <div class="mt-3 mb-3 shadow" id="events">
        <p class="bg-light p-3 mb-1 d-flex justify-content-between">
            <strong>Events</strong>
            <span><i class="bi bi-calendar-event-fill me-2"></i>{{ event_count }}</span> 
        </p>
        <div class="list-group list-group-flush">
            {% for event in events %}
            <a href="{% url 'event_detail' event.id %}" class="list-group-item list-group-item-action list-group-item-success d-flex justify-content-between align-items-center link-dark">
                <span><i class="bi bi-calendar-event-fill me-4"></i>{{ event.event_name }}</span>
                {% if event.is_draft == True %}
                <span class="text-secondary"><i class="bi bi-envelope-exclamation-fill"></i></span>
                {% else %}
                    <span class="text-success"><i class="bi bi-envelope-check-fill"></i></span>
                {% endif %}
            </a>
            {% endfor %}
        </div>
    </div>


    <div class="mt-3 mb-3 shadow" id="lists">
        <p class="bg-light p-3 mb-1 d-flex justify-content-between">
            <strong>Lists</strong>
            <span><i class="bi bi-ui-checks me-2"></i>{{ list_count }}</span> 
        </p>
        <div class="list-group list-group-flush">
            {% for list in lists %}
            <a href="{% url 'list_detail' list.id %}" class="list-group-item list-group-item-action list-group-item-danger d-flex justify-content-between align-items-center link-dark">
                <span><i class="bi bi-ui-checks me-4"></i>{{ list.list_name }}</span>
                {% if list.is_draft == True %}
                    <span class="text-secondary"><i class="bi bi-envelope-exclamation-fill"></i></span>
                {% else %}
                    <span class="text-danger"><i class="bi bi-envelope-check-fill"></i></span>
                {% endif %}
            </a>
            {% endfor %}
        </div>
    </div>
            
</section>


{% endblock %}