{% extends 'base.html' %}
{% load cache_bust %}
{% load custom_filters %}
{% load static %}
{% load bootstrap_icons %}

{% load in_list %}

{% block title %}InnerCircle | Dashboard{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'scss/circle.scss' %}?{% cache_bust %}">{% endblock %}

{% block content %}
<section class="d-flex flex-row flex-wrap justify-content-between" style="gap: 50px">
    <div class="card" style="width: 20rem;">
        <div class="card-header d-flex justify-content-between">
          <span>Circle </span>
          <span><i class="bi bi-people-fill"></i> {{ member_count }}</span>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for member in members %}
                <li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">
                    <span>{{ member.name }}</span>
                    {% with member_groups_count=member|get_member_groups:member_groups|length %}
                    <span class="badge bg-info"><i class="bi bi-person-fill-gear"></i>&nbsp;{{ member_groups_count }}</span>
                    {% endwith %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="card" style="width: 20rem;">
        <div class="card-header d-flex justify-content-between">
          <span>Broadcasts </span>
          <span><i class="bi bi-megaphone-fill"></i> {{ broadcast_count }}</span>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for broadcast in broadcasts %}
                <li class="list-group-item list-group-item-warning d-flex justify-content-between align-items-center">
                    {{ broadcast.title }}
                    {% if broadcast.is_draft == True %}
                        <span class="text-secondary"><i class="bi bi-envelope-exclamation-fill"></i></span>
                    {% else %}
                        <span class="text-warning"><i class="bi bi-envelope-check-fill"></i></span>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="card" style="width: 20rem;">
        <div class="card-header d-flex justify-content-between">
          <span>Events</span>
          <span><i class="bi bi-calendar-event-fill"></i> {{ event_count }}</span> 
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for event in events %}
                <li class="list-group-item list-group-item-success d-flex justify-content-between align-items-center">
                    {{ event.event_name }}
                    {% if event.is_draft == True %}
                    <span class="text-secondary"><i class="bi bi-envelope-exclamation-fill"></i></span>
                    {% else %}
                        <span class="text-success"><i class="bi bi-envelope-check-fill"></i></span>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="card" style="width: 20rem;">
        <div class="card-header d-flex justify-content-between">
          <span>Lists</span>
          <span><i class="bi bi-ui-checks"></i> {{ list_count }}</span> 
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for list in lists %}
                <li class="list-group-item list-group-item-danger d-flex justify-content-between align-items-center">
                    {{ list.list_name }}
                    {% if list.is_draft == True %}
                        <span class="text-secondary"><i class="bi bi-envelope-exclamation-fill"></i></span>
                    {% else %}
                        <span class="text-danger"><i class="bi bi-envelope-check-fill"></i></span>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
            
</section>


{% endblock %}