<!-- Help Page serving help view. -->
{% extends 'info-base.html' %}
{% load cache_bust %}
{% load static %}

{% block title %}InnerCircle | Help{% endblock %}

{% block scss %}
<style>
.help-nav{
    position: fixed;
    top: 15vh;
    right: 50px;
}


.btn:focus{
    outline: none;
    box-shadow: none;
}
</style>
{% endblock %}

{% block info_content %}
<div class="info-content mt-5 p-5 help-content d-flex justify-content-center">
    
    <div class="ps-5 pe-5 mt-5 bg-white help-sections">
        <div class="dropdown help-nav">
            <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Help Topics
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a href="#profile" class="dropdown-item text-white"><strong>Profile</strong></a></li>
                <li><a href="#aiAssistant" class="dropdown-item"><strong>AI Assistant</strong></a></li>
                <li><a href="#circle" class="dropdown-item"><strong>Circle</strong></a></li>
                <li><a href="#broadcasts" class="dropdown-item"><strong>Broadcasts</strong></a></li>
                <li><a href="#events" class="dropdown-item"><strong>Events</strong></a></li>
                <li><a href="#lists" class="dropdown-item"><strong>Lists</strong></a></li>
            </ul>
        </div>
        <div class="pb-5 pt-5 mb-5 mt-5 help-section" id="profile">
            <h4 class="text-secondary text-end">Profile</h4>
            <hr>
            <div class="mt-5 mb-5">
                <h5><strong>Editing Profile</strong></h5>
                <p class="bg-light p-3">You can edit/update your profile by through this navigation structure :  <code class="text-white bg-dark p-1 rounded"><i class="bi bi-person-fill"></i> Profile > <i class="bi bi-gear-fill"></i> Settings </code></p>
            </div>
            
            <div class="mt-5 mb-5">
                <h5><strong>Changing Password</strong></h5>
                <p class="bg-light p-3">You can change your password on the <code class="text-white bg-dark p-1 rounded"><i class="bi bi-person-fill"></i> Profile > <i class="bi bi-gear-fill"></i> Settings</code> page and clicking on the <button class="btn btn-dark btn-sm" disabled tabindex="-1" role="button" aria-disabled="true">Change Password</button> button</p>
            </div>
        </div>

        <div class="pb-5 pt-5 mb-5 mt-5 help-section" id="aiAssistant">
            <h4 class="text-secondary text-end">AI Assistant</h4>
            <hr>
            <div class="mt-5 mb-5">
                <h5><strong>Chat History</strong></h5>
                <p class="bg-light p-3">Only you chat history for that particular day will be visible on the <code class="text-white bg-dark p-1 rounded"><i class="bi bi-chat-square-heart-fill"></i> Assistant > <i class="bi bi-chat-square-text-fill"></i> Chat</code> page.</p>
                <p class="bg-light p-3">If you would like to view your entire chat history you will find it on the <code class="text-white bg-dark p-1 rounded"><i class="bi bi-chat-square-heart-fill"></i> Assistant > <i class="bi bi-person-lines-fill"></i>&nbsp;<small></small> Chat History</code> page.</p>
            </div>
        </div>

        <div class="pb-5 pt-5 mb-5 mt-5 help-section" id="circle">
            <h4 class="text-secondary text-end">Circle</h4>
            <hr>
            <div class="mt-5 mb-5">
                <h5><strong>Circle Members</strong></h5>
                <p class="bg-light p-3">Upcoming birthdays for members of your circle can be found on the <code class="text-white bg-dark p-1 rounded"><i class="bi bi-grid-1x2-fill"></i> dashboard > <i class="bi bi-alarm-fill"></i> Reminders</code> page.</p>
                <img class="img-fluid rounded mx-auto d-block shadow" src="{% static 'img/help/reminders.png' %}" alt="Reminders">
            </div>

            <div class="mt-5 mb-5">
                <h5><strong>Groups</strong></h5>
                <p class="bg-light p-3">You can create groups and add circle members to these groups on the <code class="text-white bg-dark p-1 rounded"><i class="bi bi-people-fill"></i> circle > <i class="bi bi-person-gear"></i> groups</code> page</p>
            </div>
        </div>

        <div class="pb-5 pt-5 mb-5 mt-5 help-section" id="broadcasts">
            <h4 class="text-secondary text-end">Broadcasts</h4>
            <hr>

            <div class="mt-5 mb-5">
                <h5><strong>Previewing Broadcasts</strong></h5>
                <p class="bg-light p-3">If you would like to preview what a broadcast will look like to your recipients
                 you can do so by clicking on the recipient and view what the broadcast will look like for them.</p>
                <img class="img-fluid rounded mx-auto d-block shadow" src="{% static 'img/help/broadcast_recipients.png' %}" alt="Broadcast Recipients">
            </div>
            
            <div class="mt-5 mb-5">
                <h5><strong>Sending Broadcasts</strong></h5>
                <p class="bg-light p-3">A broadcast can be sent as soon as you create one or at a later stage.</p>
                <p class="bg-light p-3">To send a broadcast as soon as you create one just click the <button class="btn btn-outline-dark btn-sm" disabled tabindex="-1" role="button" aria-disabled="true">save and send</button> button.</p>
                <p class="bg-light p-3">To send a broadcast at a later stage just click on the <button class="btn btn-dark btn-sm" disabled tabindex="-1" role="button" aria-disabled="true">save</button> button and you can send it at any time when clicking the
                <button class="btn btn-dark btn-sm" disabled tabindex="-1" role="button" aria-disabled="true"><i class="bi bi-envelope-arrow-up-fill"></i> send broadcast</button> button on that broadcast page.
                </p>
            </div>
        </div>

        <div class="pb-5 pt-5 mb-5 mt-5 help-section" id="events">
            <h4 class="text-secondary text-end">Events</h4>
            <hr>

            <div class="mt-5 mb-5">
                <h5><strong>Previewing Event Invitations</strong></h5>
                <p class="bg-light p-3">If you would like to preview what a event invitation will look like to your guests
                you can do so by clicking on the guest and view what the invitation will look like for them.</p>
                <img class="img-fluid rounded mx-auto d-block shadow" src="{% static 'img/help/event_guests.png' %}" alt="Event Guests">
            </div>

            <div class="mt-5 mb-5">
                <h5><strong>Sending Event Invitations</strong></h5>
                <p class="bg-light p-3">An event invitation can be sent as soon as you create one or at a later stage.</p>
                <p class="bg-light p-3">To send an invitation as soon as you create one just click the <button class="btn btn-outline-dark btn-sm" disabled tabindex="-1" role="button" aria-disabled="true">save and send</button> button.</p>
                <p class="bg-light p-3">To send an invitation at a later stage just click on the <button class="btn btn-dark btn-sm" disabled tabindex="-1" role="button" aria-disabled="true">save</button> button and you can send it at any time before the event date when clicking the
                <button class="btn btn-dark btn-sm" disabled tabindex="-1" role="button" aria-disabled="true"><i class="bi bi-envelope-arrow-up-fill"></i> send invitation</button> button on that event page.
                </p>
            </div>

            <div class="mt-5 mb-5">
                <h5><strong>Event RSVPs</strong></h5>
                <p class="bg-light p-3">When guests RSVP to your event you will be notified on the <code class="text-white bg-dark p-1 rounded"><i class="bi bi-grid-1x2-fill"></i> Dashboard > <i class="bi bi-bell-fill"></i> Notifications</code> page.</p>
                <img class="img-fluid rounded mx-auto d-block shadow" src="{% static 'img/help/notifications.png' %}" alt="Notifications">
            </div>
        </div>

        <div class="pb-5 pt-5 mb-5 mt-5 help-section" id="lists">
            <h4 class="text-secondary text-end">Lists</h4>
            <hr>

            <div class="mt-5 mb-5">
                <h5><strong>Previewing Lists</strong></h5>
                <p class="bg-light p-3">If you would like to preview what a list will look like to your recipients
                you can do so by clicking on the recipient and view what the list will look like for them.</p>
                <img class="img-fluid rounded mx-auto d-block shadow" src="{% static 'img/help/list_recipients.png' %}" alt="List Recipients">
            </div>
            
            <div class="mt-5 mb-5">
                <h5><strong>Sending Lists</strong></h5>
                <p class="bg-light p-3">A list can be sent as soon as you create one or at a later stage.</p>
                <p class="bg-light p-3">To send a list as soon as you create one just click the <button class="btn btn-outline-dark btn-sm" disabled tabindex="-1" role="button" aria-disabled="true">save and send</button> button.</p>
                <p class="bg-light p-3">To send a list at a later stage just click on the <button class="btn btn-dark btn-sm" disabled tabindex="-1" role="button" aria-disabled="true">save</button> button and you can send it at any time when clicking the
                <button class="btn btn-dark btn-sm" disabled tabindex="-1" role="button" aria-disabled="true"><i class="bi bi-envelope-arrow-up-fill"></i> send list</button> button on that list page.
                </p>
            </div>

            <div class="mt-5 mb-5">
                <h5><strong>List Checks</strong></h5>
                <p class="bg-light p-3">When list recipients check off items on your lists, you will be notified on the <code class="text-white bg-dark p-1 rounded"><i class="bi bi-grid-1x2-fill"></i> Dashboard > <i class="bi bi-bell-fill"></i> Notifications</code> page.</p>
                <img class="img-fluid rounded mx-auto d-block shadow" src="{% static 'img/help/notifications.png' %}" alt="Notifications">
            </div>
        </div>
    </div>
    
</div>
{% endblock %}