{% extends 'base.html' %}
{% load cache_bust %}
{% load static %}
{% load bootstrap_icons %}

{% load in_list %}

{% block title %}InnerCircle | Reminders{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'scss/circle.scss' %}?{% cache_bust %}">{% endblock %}

{% block content %}
<section class="d-flex flex-column justify-content-between" style="gap: 50px">
    <h4 class="text-secondary text-end">Your Reminders</h4>

    <ul class="list-group list-group-flush">
        {% for member in members %}
            <li class="list-group-item list-group-item-light">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 {% if member.days_until_birthday < 30 %}text-danger{% else %}text-secondary{% endif %}">{% bs_icon 'balloon-fill' %} {{ member.name }}'s Birthday</h5>
                    <small class="{% if member.days_until_birthday < 30 %}text-danger{% else %}text-secondary{% endif %}">{% bs_icon 'hourglass-split' %} {{ member.days_until_birthday }} days</small>
                </div>
                <p class="mb-1 {% if member.days_until_birthday < 30 %}text-danger{% else %}text-secondary{% endif %}">{{ member.date_of_birth }}</p>
            </li>
        {% endfor %}
    </ul>
</section>
{% endblock%}