<!-- User Settings Page serving settings view. -->
{% extends 'base.html' %}
{% load cache_bust %}
{% load static %}

{% block title %}Settings | @{{ user.username }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'scss/profile.scss' %}?{% cache_bust %}">
{% endblock %}


{% block content %}
<section class="d-flex flex-column justify-content-between m-md-5 p-md-5" style="gap: 50px;">
    <h4 class="text-secondary text-end">Settings</h4>

    <div class="bg-light shadow p-5">
        <h5 class="text-secondary mt-5 mb-5">Profile Settings</h5>
        <form class="form" action="{% url 'settings' %}" method="POST">
            {% csrf_token %}
    
            <div class="form-floating mb-3">
                {{ form.full_name }}
                <label for="full_name">Full Name</label>
    
                {% if form.full_name.errors %}
                    {% for error in form.full_name.errors %}
                    <code><i class="bi bi-exclamation-circle-fill"></i>&nbsp;{{error}}</code>
                    {% endfor %}
                {% endif %}
            </div>
    
            <div class="form-floating mb-3">
                {{ form.bio }}
                <label for="bio">Bio</label>
                {% if form.bio.errors %}
                    {% for error in form.bio.errors %}
                    <code><i class="bi bi-exclamation-circle-fill"></i>&nbsp;{{error}}</code>
                    {% endfor %}
                {% endif %}
            </div>
    
            <div class="form-floating mb-3">
                {{ form.location }}
                <label for="location">Location</label>
                {% if form.location.errors %}
                    {% for error in form.location.errors %}
                    <code><i class="bi bi-exclamation-circle-fill"></i>&nbsp;{{error}}</code>
                    {% endfor %}
                {% endif %}
            </div>
    
            <div class="form-floating mb-3">
                {{ form.date_of_birth }}
                <label for="date_of_birth">Date of Birth</label>
                {% if form.date_or_birth.errors %}
                    {% for error in form.date_of_birth.errors %}
                    <code><i class="bi bi-exclamation-circle-fill"></i>&nbsp;{{error}}</code>
                    {% endfor %}
                {% endif %}
            </div>
    
            <div class="mb-3">
                <label for="profile_picture">Profile Picture</label>
                {{ form.profile_picture }}
    
                {% if form.profile_picture.errors %}
                    {% for error in form.profile_picture.errors %}
                    <code><i class="bi bi-exclamation-circle-fill"></i>&nbsp;{{error}}</code>
                    {% endfor %}
                {% endif %}
            </div>
    
            <button class="btn btn-dark mt-3" type="submit">Update Profile</button>
        </form>

    </div>

    <div class="bg-light shadow p-5 mt-5">
        <h5 class="text-secondary">Account Settings</h5>
        <a class="d-block text-dark mt-5 mb-5" href="{% url 'password_change' %}"><strong>Change Password</strong></a>

        <a class="d-block text-dark mt-5 mb-5" href="{% url 'deactivate_account' %}"><strong>Deactivate Account</strong></a>
    </div>

    
</section>

{% endblock %}