<!-- User Settings Page serving settings view. -->
{% extends 'base.html' %}
{% load cache_bust %}
{% load static %}

{% block title %}Settings | @{{ user.username }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'scss/profile.scss' %}?{% cache_bust %}">
{% endblock %}


{% block content %}
<section class="m-5 p-5">
    <h4 class="text-secondary text-end">Settings</h4>

    
    <form class="mt-5 p-5 bg-light rounded-1" action="{% url 'settings' profile_id=instance.id %}" method="POST">
        {% csrf_token %}
        <h5 class="text-secondary mb-5">Account Settings</h5>

        <div class="d-flex justify-content-between mb-5">
            <div>
                <span>First Name</span>
                {% if user.first_name %}
                <p><strong>{{ user.first_name}}</strong></p>
                {% else %}
                <p><strong>-</strong></p>
                {% endif %}
            </div>
            
            <div>
                <label for="first_name">Change First Name</label>
                {{ account_form.first_name }}

                {% if account_form.first_name.errors %}
                    {% for error in account_form.first_name.errors %}
                    <code><i class="bi bi-exclamation-circle-fill"></i>&nbsp;{{error}}</code>
                    {% endfor %}
                {% endif %}
            </div>
        </div>  

        <div class="d-flex justify-content-between mb-5">
            <div>
                <span>Last Name</span>
                {% if user.last_name %}
                <p><strong>{{ user.last_name }}</strong></p>
                {% else %}
                <p><strong>-</strong></p>
                {% endif %}
            </div>
            
            <div>
                <label for="last_name">Change Last Name</label>
                {{ account_form.last_name }}

                {% if account_form.last_name.errors %}
                    {% for error in account_form.last_name.errors %}
                    <code><i class="bi bi-exclamation-circle-fill"></i>&nbsp;{{error}}</code>
                    {% endfor %}
                {% endif %}
            </div>
            
        </div>

        {% if account_form.not_field_errors %}
            {% for error in account_form.not_field_errors %}
                <code><i class="bi bi-exclamation-circle-fill"></i>&nbsp;{{error}}</code>
            {% endfor %}
        {% endif %}

        <div class="d-flex justify-content-end mb-5">
            <button class="btn btn-dark text-end" type="submit" name="account_form_submit">Update Account Details</button>
        </div>
    </form>

    
    <form class="mt-5 p-5 bg-light rounded-1" action="{% url 'settings' profile_id=instance.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h5 class="text-secondary mb-5">Profile Settings</h5>

        <div class="d-flex justify-content-between align-items-center mb-5">
            <div>
                <span>Profile Picture</span><br>
                <img src="{{user.profile.profile_picture.url}}" alt="Profile Picture">
            </div>
            
            <div>
                <label for="profile_picture">Change Profile Picture</label>
                {{ profile_form.profile_picture }}

                {% if profile_form.profile_picture.errors %}
                    {% for error in profile_form.profile_picture.errors %}
                    <code><i class="bi bi-exclamation-circle-fill"></i>&nbsp;{{error}}</code>
                    {% endfor %}
                {% endif %}
            </div>
            
        </div>

        <div class="d-flex justify-content-between mb-5">
            <div>
                <span>Date of Birth</span>
                {% if user.profile.date_of_birth %}
                <p><strong>{{ user.profile.date_of_birth }}</strong></p>
                {% else %}
                <p><strong>-</strong></p>
                {% endif %}
            </div>
            
            <div>
                <label for="date_of_birth">Change Date of Birth</label>
                {{ profile_form.date_of_birth }}

                {% if profile_form.date_of_birth.errors %}
                    {% for error in profile_form.date_of_birth.errors %}
                    <code><i class="bi bi-exclamation-circle-fill"></i>&nbsp;{{error}}</code>
                    {% endfor %}
                {% endif %}
            </div>
            
        </div>

        {% if profile_form.not_field_errors %}
            {% for error in profile_form.not_field_errors %}
                <code><i class="bi bi-exclamation-circle-fill"></i>&nbsp;{{error}}</code>
            {% endfor %}
        {% endif %}

        <div class="d-flex justify-content-end mb-5">
            <button class="btn btn-dark text-end" type="submit" name="profile_form_submit">Update Profile Details</button>
        </div>
        
    </form>
    
</section>

{% endblock %}