<!-- Event Object List Page serving event_list, sent_event_list, draft_event_list views. -->
{% extends 'base.html' %}
{% load static %}
{% load cache_bust %}

{% block title %}
{% with request.resolver_match.url_name as url_name %}
    {% if url_name == 'event_list' %}
    InnerCircle | Events
    {% elif url_name == 'sent_event_list' %}
    InnerCircle | Sent Events
    {% elif url_name == 'draft_event_list' %}
    InnerCircle | Draft Events
    {% endif %}
{% endwith %}
{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'scss/circle.scss' %}?{% cache_bust %}">{% endblock %}

{% block content %}
<section class="d-flex flex-column justify-content-between m-5 p-5" style="gap: 50px">
    <h4 class="text-end text-secondary">
        {% if url_name == 'event_list'%}
        All Events
        {% elif url_name == 'sent_event_list' %}
        Sent Events
        {% elif url_name == 'draft_event_list' %}
        Draft Events
        {% endif %}
    </h4>
    <div class="d-flex justify-content-end">
        <a href="{% url 'create_event' %}" class="btn btn-dark text-end"><i class="bi bi-plus-circle-fill me-2"></i> New Event</a>
    </div>

    {% with request.resolver_match.url_name as url_name %}
        {% if url_name == 'event_list' %}
        <div>
            {% if user_events %}
            <div class="list-group list-group-flush">
                <p class="p-3 mb-1 bg-success text-white rounded-1 mb-1"><strong>All Events</strong> &nbsp;&nbsp;{{ user_events.count }}</p>
                {% for user_event in user_events %}
                <a  href="{% url 'event_detail' user_event.id %}" 
                class="list-group-item list-group-item-action d-flex justify-content-between align-items-center {% if user_event.is_draft == True %}list-group-item-light{% else %}list-group-item-success{% endif %} text-dark">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-calendar-event-fill me-2"></i>
                        <span class="d-block"><strong>{{ user_event.event_name }}</strong> : <small>{{ user_event.event_status }}</small></span>
                    </div>
                
                    <span class="d-block">{{ user_event.date|date:"d F Y" }}</span>
                </a>
                {% endfor %}
            </div>
            {% else %}
            <p class="text-secondary text-center">You currently have no events.</p>
            {% endif %}
        </div>
        {% elif url_name == 'sent_event_list' %}
        <div>
            {% if sent_events %}
            <div class="list-group list-group-flush">
                <p class="p-3 mb-1 bg-success text-white rounded-1 mb-1"><strong>Sent Events</strong> &nbsp;&nbsp;{{ sent_events.count }}</p>
                {% for sent_event in sent_events %}
                <a  href="{% url 'event_detail' sent_event.id %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-success text-dark">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-calendar-event-fill me-2"></i>
                        <span class="d-block"><strong>{{ sent_event.event_name }}</strong> : <small>{{ sent_event.event_status }}</small></span>
                    </div>
                    
                    <span class="d-block">{{ sent_event.date|date:"d F Y" }}</span>
                </a>
                {% endfor %}
            </div>
            {% else %}
            <p class="text-secondary text-center">You currently have no sent events.</p>
            {% endif %}
        </div>
        {% elif url_name == 'draft_event_list' %}
        <div>    
            {% if draft_events %}
            <div class="list-group list-group-flush">
                <p class="p-3 mb-1 bg-success text-white rounded-1 mb-1"><strong>Draft Events</strong> &nbsp;&nbsp;{{ draft_events.count }}</p>
                {% for draft_event in draft_events %}
                <a  href="{% url 'event_detail' draft_event.id %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-light text-dark">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-calendar-event-fill me-2"></i>
                        <span class="d-block"><strong>{{ draft_event.event_name }}</strong> : <small>{{ draft_event.event_status }}</small></span>
                    </div>  
                    <span class="d-block">{{ draft_event.date|date:"d F Y" }}</span>
                </a>
                {% endfor %}
            </div>
            {% else %}
            <p class="text-secondary text-center">You currently have no draft events.</p>
            {% endif %}
        </div>
        {% endif %}
    {% endwith %}

    
    

</section>
{% endblock %}