<!-- Event Object Detail Page serving event_detail view. -->
{% extends 'base.html' %}
{% load static %}
{% load cache_bust %}

{% block title %}InnerCircle | {{ event.event_name }}{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'scss/circle.scss' %}?{% cache_bust %}">{% endblock %}

{% block content %}
<section class="d-flex flex-column justify-content-between m-5 p-5" style="gap: 50px">
    <div class="d-flex justify-content-between align-items-center" >
        <a href="{% url 'event_list' %}" class="text-dark"><i class="bi bi-arrow-left-circle-fill" style="font-size: 1.8rem;"></i></a>
        <h4 class="text-secondary text-end"> {{event.event_name}} Info</h4>
    </div>

    <div class="d-flex justify-content-between align-items-center" style="gap: 20px;">
        {% if event.is_draft %}
        <form method="POST" action="{% url 'send_event_draft' draft_id=event.id %}" style="padding:0;">
            {% csrf_token %}
            <button class="btn btn-dark" type="submit"><i class="bi bi-envelope-arrow-up-fill"></i> Send Event Invitations</button>
        </form>
        <div class="d-flex" style="gap: 20px;">
            <a class="btn btn-dark" href="{% url 'update_event' event.id %}"><i class="bi bi-pen-fill"></i> Update</a>
            <a class="btn btn-dark" href="{% url 'delete_event' event.id %}"><i class="bi bi-trash3-fill"></i> Delete</a>
        </div >
        {% else %}
        <div class="d-flex justify-content-end" style="width: 100%;">
            <a class="btn btn-dark" href="{% url 'delete_event' event.id %}"><i class="bi bi-trash3-fill"></i> Delete</a>
        </div>
        {% endif %}
    </div>

    <div class="bg-light p-5 shadow">
        <p class="text-secondary">
            {% if event.is_draft == True %}
            <i class="bi bi-calendar-event-fill text-secondary"></i> Draft
            {% elif event.is_draft == False %}
            <i class="bi bi-calendar-event-fill text-success"></i> Sent to Recipients
            {% endif %} 
        </p>
        <p><strong>{{event.event_name}}</strong><br>{{event.description}}</p>
        
        <p><strong>Date</strong><br>{{event.date|date:"d F Y"}}</p>
        <p><strong>Time</strong><br>{{event.date|time:"h:i A"}}</p>
        <p><strong>Location</strong><br>{{event.location}}</p>
        <p><strong>Dress Code</strong><br>{{event.dress_code}}</p>
        <p><strong>Notes</strong><br>{{event.note}}</p>
        <p><strong>Event Status</strong> <br>{{event.event_status}}</p>
        <span class="badge rounded-pill bg-success">Guests {{ event.guests.count }}</span>
    </div>

    {% if event.guests %}
    <div class="list-group list-group-flush mt-5">
        <p class="p-3 mb-1 bg-success text-white rounded-1 mb-1">Guests {{ event.guests.count }}</p>
        {% for guest in event.guests.all %}
        <a  href="{% url 'rsvp' event.id guest.id %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-success text-dark">
            <div class="d-flex align-items-center" style="gap: 20px">
                <i class="bi bi-person-fill me-2"></i>
                <img class="member-img-sm" src="{{ guest.image.url }}" alt="Member Image">
                <span>{{ guest.name }}</span>
            </div>
        </a>
        {% endfor %}
    </div>
    {% else %}
        <p class="text-secodary text-center">There are no guests invited to this event. <a href="{% url 'update_event' %}">Invite Guests</a></p>
    {% endif %}

    <div>
        <h4 class="text-secondary mt-5 mb-3">RSVP Info</h4>
        {% if rsvps %}
        <div>
            <div class="bg-success p-3 rounded-1 text-light">
                <div class="d-flex justify-content-between">
                    <small class="d-block">Total Invited Guests</small>
                    <small class="d-block">{{ event.guests.count }}</small>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <small class="d-block">Guests Attending</small>
                    <small class="d-block">{{ attending_count }}</small>
                </div>
                
                <div class="d-flex justify-content-between">
                    <small class="d-block">Guests Not Attending</small>
                    <small class="d-block">{{ not_attending_count }}</small>
                </div>
                
                <div class="d-flex justify-content-between">
                    <small class="d-block">Guests Undecided</small>
                    <small class="d-block">{{ undecided_count }}</small>
                </div>
                
            </div>
            <ul class="list-group list-group-flush">
                {% for rsvp in rsvps %}
                <li  class="list-group-item d-flex justify-content-between align-items-center {% if rsvp.response_status == 'Attending' %}list-group-item-success{% elif rsvp.response_status == 'Not Attending' %}list-group-item-secondary{%  elif rsvp.response_status == 'Undecided' %}list-group-item-light{% endif %} text-dark">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-person-fill me-3"></i>
                        <img class="member-img-sm me-3" src="{{ rsvp.guest.image.url}} " alt="Guest Image">
                        <span class="me-5">{{ rsvp.guest.name}}</span>
                    </div>

                    {% if rsvp.response_status == 'Attending' %}
                    <button class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#dietaryPreferenceModal{{rsvp.id}}">Dietary Preferences</button>
                    <!-- Dietary Preferences Modal-->
                    <div class="modal" id="dietaryPreferenceModal{{rsvp.id}}" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div>
                                    <h5 class="modal-title">Dietary Preferences for <strong>{{ rsvp.guest.name }}</strong></h5>
                                </div>
                            
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>{{ rsvp.dietary_preferences }}</p>
                            </div>
                        </div>
                        </div>
                    </div>
                    {% endif %}

                    <span class="badge rounded-pill {% if rsvp.response_status == 'Attending' %}bg-success{% elif rsvp.response_status == 'Not Attending' %}bg-secondary{% elif rsvp.response_status == 'Undecided' %}bg-light text-dark{% endif %}">{{ rsvp.response_status }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <p class="g-secondary p-3">No guests have RSVP'd yet.</p>
        {% endif %}
    </div>
    

</section>
{% endblock %}