<!-- Event RSVP View Page serving rsvp_view view. -->
{% extends 'base.html' %}
{% load static %}
{% load cache_bust %}

{% block title %}InnerCircle | RSVP{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'scss/circle.scss' %}?{% cache_bust %}">{% endblock %}

{% block member_content %}
<div class="member-event-view">
    <h4 class="text-white text-center bg-dark mb-5">Invitation for {{ member.name }}</h4>
    <h3>You're invited to <strong>{{ event.event_name }}</strong></h3>
    <hr>

    <div class="d-flex justify-content-around member-event-info">
        <div style="width: 30%;">
            <p><strong>Host</strong><br>{{ event.user.first_name }} {{ event.user.last_name }}</p>
            <p><strong>Date</strong><br>{{event.date|date:"d F Y"}}</p>
            <p><strong>Time</strong><br>{{event.date|time:"h:i A"}}</p>
            <p><strong>Location</strong><br>{{event.location}}</p>
        </div>

        <div style="width: 60%;">
            <p><strong>Dress Code</strong><br>{{event.dress_code}}</p>
            <p><strong>Notes</strong><br>{{event.note}}</p>
            <p><strong>Event Status</strong> <br>{{event.event_status}}</p>
        </div>

    </div>
    
    <hr>
    
    <form class="form form-floating" action="{% url 'rsvp' event.id member.id %}" method="POST">
        {% csrf_token %}
        <div class="form-floating mb-3">
            {{ form.response_status }}
            <label for="floatingInput">RSVP Response</label>

            {% if form.response_status.errors %}
                {% for error in form.response_status.errors %}
                <code><i class="bi bi-exclamation-circle-fill"></i>&nbsp;{{error}}</code>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-floating mb-3">
            {{ form.dietary_preferences }}
            <label for="floatingInput">Dietary Preferences</label>

            {% if form.dietary_preferences.errors %}
                {% for error in form.dietary_preferences.errors %}
                <code><i class="bi bi-exclamation-circle-fill"></i>&nbsp;{{error}}</code>
                {% endfor %}
            {% endif %}
        </div>

        {% if form.not_field_errors %}
            {% for error in form.not_field_errors %}
                <code><i class="bi bi-exclamation-circle-fill"></i>&nbsp;{{error}}</code>
            {% endfor %}
        {% endif %}

        <button  class="btn btn-dark" type="submit">Submit</button>
    </form>
</div>
    
{% endblock %}